{% load i18n %}
{% load gallery_filter %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

<!-- We only want the thumbnails to display when javascript is disabled -->
<script type="text/javascript">
        document.write('<style>.noscript { display: none; }</style>');
</script>

<!-- Start Advanced Gallery Html Containers -->
		{% for photo in gallery_list %}{% if forloop.first %}
			<h2>{{ photo.galleryname }}</h2>
		{% endif %}{% endfor %}

<div id="thumbs" class="navigation">
        <ul id="thumb-gallery" class="thumbs noscript">
                {% for photo in gallery_list %}
                <li>
                <a class="thumb" name="{{ photo.title }}" title="{{ photo.title }}" href="{{ photo.get_display_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
                <div class="caption">
                	<div class="download">
                                <a href="{{ photo.get_large_url }}">Download Original</a>
                        </div>
                        <div class="image-title">{{ photo.title }}</div>
                        <div class="image-desc"><p>{{ photo.caption|safe }}</p></div>
                </div>
                </li>
                {% endfor %}
        </ul>
</div>
<div id="gallery" class="content">
        <div id="controls" class="controls"></div>
        <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
        </div>
        <div id="caption" class="caption-container"></div>
</div>

<!--<div style="clear: both;"></div>-->

