<div class="calendar">
    <h2>
        <span>Week of {% for day in calendar %}{% if forloop.first %}{{day.0}} to {% endif %}{% if forloop.last %}{{day.0}}{% endif %}{% endfor %}</span>
    </h2>
    <div>
    {% if admin %}
        <a class="prev" href='{% url admin-scheduler.anyweek day=prev_week %}' title="Previous Week">
            <img src="/media/img/prev.png" alt="Prev">
        </a>
        <a class="current" href='{% url admin-scheduler.thisweek %}'>Back to Current Week</a>
        <a class="next" href='{% url admin-scheduler.anyweek day=next_week %}' title="Next Week">
            <img src="/media/img/next.png" alt="Next">
        </a>
    {% else %}{% if not staff %}
        <a class="prev" href='{% url scheduler.anyweek day=prev_week %}' title="Previous Week">
            <img src="/media/img/prev.png" alt="Prev">
        </a>
        <a class="current" href='{% url scheduler.thisweek %}'>Back to Current Week</a>
        <a class="next" href='{% url scheduler.anyweek day=next_week %}' title="Next Week">
            <img src="/media/img/next.png" alt="Next">
        </a>
    {% else %}
        <a class="prev" href='{% url staff-scheduler.anyweek day=prev_week %}' title="Previous Week">
            <img src="/media/img/prev.png" alt="Prev">
        </a>
        <a class="current" href='{% url staff-scheduler.thisweek %}'>Back to Current Week</a>
        <a class="next" href='{% url staff-scheduler.anyweek day=next_week %}' title="Next Week">
            <img src="/media/img/next.png" alt="Next">
        </a>
    {% endif %}{% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th class="date" scope="col" abbr="Date">Date</th>
                <th class="date" scope="col" abbr="Shift">Shift</th>
                    {% for bl in beamlines %}
                        <th class="beamline" scope="col" abbr="{{bl.name}}">{{bl.name}}</th>
                    {% endfor %}
                <th class="date" scope="col" abbr="On Call">On Call</th>
            </tr>
        </thead>
        <tbody>
        {% load schedule_extras %}
        {% for day in calendar %}
            <tr>
                <td rowspan=3 class="column1">{{day.0}}</td>
                    {% for mode in day.3.0 %}
                        {% with forloop.counter0 as index %}
                        <td class="td-time {% if mode %}{{mode}}{% else %}{{ day.4|get_webmode:index }}{% endif %} tdcenter">
                            {% cycle '08:00-16:00' '16:00-24:00' '00:00-08:00' %}
                        </td>
                        
                        {% for visit in day.1 %}
                            {% with beamlines|get_webmode:forloop.counter0 as bl %}
                            <td {% if admin %}
                                    class="del {% if mode %}{{mode}}{% else %}{{ day.4|get_webmode:index }}{% endif %}
                                           {% if visit|get_webmode:index %}{% with visit|get_webmode:index|get_webmode:0|get_webmode:1 as vis %}
                                                {% if vis.maintenance %}beam-main{% endif %}
                                           {% endwith %}{% else %}
                                                modal-form link-cell
                                           {% endif %}"
                                    {% if not visit|get_webmode:index %}
	                                    href="{% url cmcf-add-visit %}?beamline={{bl.pk}}&start_date={{day.5}}&first_shift={{forloop.parentloop.counter0}}"
	                                    title="Add new visit"
	                                {% endif %}
                                {% else %}
	                                class="{% if mode %}{{mode}}{% else %}{{ day.4|get_webmode:index }}{% endif %}
	                                       {% if visit|get_webmode:index %}{% with visit|get_webmode:index|get_webmode:0|get_webmode:1 as vis %}
	                                            {% if vis.maintenance %}beam-main{% endif %}
	                                       {% endwith %}{% endif %}"
                                {% endif %}>
                                {% if visit|get_webmode:index %}{% with visit|get_webmode:index|get_webmode:0|get_webmode:1 as vis %}
                                    {% if not vis.maintenance %}
	                                    {% if vis.remote %}<div class="remote-icon" title="Remote Access"></div>{% else %}
	                                    {% if vis.mail_in %}<div class="mail-icon" title="Mail-In Access"></div>{% endif %}{% endif %}
                                    {% else %}{% if admin %}
                                        {% if vis.remote %}<div class="remote-icon" title="Remote Access"></div>{% else %}
                                        {% if vis.mail_in %}<div class="mail-icon" title="Mail-In Access"></div>{% endif %}{% endif %}
                                    {% endif %}{% endif %}
                                    <var{% if admin %} class="modal-form {% if not vis.proposal.expiration %}inactive{% endif %}"
                                       href="{% url cmcf-edit-visit vis.pk %}"
                                       title="Edit this visit"{% endif %}>
                                       {% if not vis.maintenance %}
	                                       {% if vis.purchased %}Purchased 
	                                           {% if not staff %}Access
	                                           {% else %}<text class="admin {% if not vis.proposal.expiration %}inactive{% endif %}">- {{ vis.proposal_display }} {% if vis.description %}({{vis.description}}){% endif %}</text>
	                                           {% endif %}
	                                       {% else %}
	                                           {% if vis.proposal %}{{ vis.proposal.last_name }}{% if staff %}<text class="admin {% if not vis.proposal.expiration %}inactive{% endif %}">, {{ vis.proposal.first_name }}
	                                               {% if vis.description %}({{vis.description}}){% endif %}
	                                               </text>{% endif %}
                                               {% else %}{{vis.description }}
                                               {% endif %}
	                                           {% if staff %}{% if vis.proposal %}<text class="admin {% if not vis.proposal.expiration %}inactive{% endif %}"> #{{ vis.proposal.proposal_id }}</text>{% endif %}{% endif %}
	                                       {% endif %}
                                       {% else %}Beamline Maintenance
                                           {% if staff %}<text class="admin {% if not vis.proposal.expiration %}inactive{% endif %}">{{ vis.proposal.display }}</text>{% endif %}
                                       {% endif %}</var>
                                    {% if admin %}<div class="modal-form delete-tool" 
                                       href="{% url cmcf-delete-visit vis.pk %}"
                                       title="Delete this visit">&nbsp;</div>{% endif %}
                                {% endwith %}{% endif %}
                            </td>
                            {% endwith %}
                        {% endfor %}
                            {% if forloop.first %}
                                <td rowspan=2 
                                    {% if day.2 %}class="oncall"
                                    {% else %}
                                        {% if not admin %}class="column1"
                                        {% else %}class="column1 modal-form link-cell"
                                                  href="{% url cmcf-add-oncall %}?date={{day.5}}"
                                        {% endif %}
                                    {% endif %}>
                                    {{day.2.0.local_contact.initials}}
                                    {% if day.2 %}{% if admin %}
	                                    <a class="modal-form delete-tool" 
	                                        href="{% url cmcf-delete-oncall day.2.0.pk %}"
	                                        title="Delete this on-call shift">&nbsp;</a>
                                    {% endif %}{% endif %}
                                </td>
                            {% else %}{% if forloop.last %}
                                <td class="column1"></td>
                            {% endif %}{% endif %}</tr><tr>
                        {% endwith %}
                      {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





