<div class="calendar">
    <h2>
        <span>Week of {% for day in calendar %}{% if forloop.first %}{{day.0}} to {% endif %}{% if forloop.last %}{{day.0}}{% endif %}{% endfor %}</span>
    </h2>
    <div>
        <a class="prev" href='{% url scheduler.anyweek day=prev_week %}' title="Previous Week">
            <img src="/media/img/prev.png" alt="Prev">
        </a>
        <a class="current" href='{% url scheduler.thisweek %}'>Back to Current Week</a>
        <a class="next" href='{% url scheduler.anyweek day=next_week %}' title="Next Week">
            <img src="/media/img/next.png" alt="Next">
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th class="date" scope="col" abbr="Date">Date</th>
                <th class="date" scope="col" abbr="Shift">Shift</th>
                {% for bl in beamlines reversed %}
                    <th class="beamline" scope="col" abbr="{{bl.name}}">{{bl.name}}</th>
                {% endfor %}
                <th class="date" scope="col" abbr="On Call">On Call</th>
            </tr>
        </thead>
        <tbody>
            {% for day in calendar %}
                <tr>
                    <td rowspan=3 class="column1">{{day.0}}</td>
                    <td class="{% if day.3.0.0 %}{{day.3.0.0}}{% else %}{{day.4.0}}{% endif %}">
                        08:00-16:00
                    </td>
                    {% for bl in day.1 reversed %}
                        <td class="{% if day.3.0.0 %}{{day.3.0.0}}{% else %}{{day.4.0}}{% endif %}">
                            {{bl.0}}
                        </td>       
                    {% endfor %}
                    <td rowspan=2 class="{% if day.2 %}oncall{% else %}column1{% endif %}">{{day.2}}</td>
                </tr>
                <tr>      
                    <td class="{% if day.3.0.1 %}{{day.3.0.1}}{% else %}{{day.4.1}}{% endif %}">
                        16:00-24:00
                    </td>
                    {% for bl in day.1 reversed %}
                        <td class="{% if day.3.0.1 %}{{day.3.0.1}}{% else %}{{day.4.1}}{% endif %}">
                            {{bl.1}}
                        </td>       
                    {% endfor %}
                </tr>
                <tr>      
                    <td class="{% if day.3.0.2 %}{{day.3.0.2}}{% else %}{{day.4.2}}{% endif %}">
                        24:00-08:00
                    </td>
                    {% for bl in day.1 reversed %}
                        <td class="{% if day.3.0.2 %}{{day.3.0.2}}{% else %}{{day.4.2}}{% endif %}">
                            {{bl.2}}
                        </td>       
                    {% endfor %}
                    <td class="column1"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





