# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bak
*.cache
.idea*
uploads/
attachments/
junk/
/local/media/
/static/
website.db
.settings
settings_local.py
/local/*
/local/settings.py
VERSION

/docs/_build/
/docs/build/
