Django==4.2
wagtail>=6.2,<6.3
wagtailmenus==4.0.1
Pillow
Willow
Wand
Unidecode
asgiref
beautifulsoup4
certifi
chardet
django-cogwheels
django-colorfield
django-debug-toolbar
django-modelcluster
django-pipeline
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
idna
l18n
pip
psycopg2-binary
pytz
requests
setuptools
six
sqlparse
urllib3
