Django
Pillow
Willow
Unidecode
asgiref
beautifulsoup4
certifi
chardet
django-cogwheels
django-colorfield
django-debug-toolbar
django-modelcluster
django-pipeline
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
idna
l18n
pip
psycopg2-binary
pytz
requests
setuptools
six
sqlparse
urllib3
wagtail
wagtailmenus