Django==4.2
wagtail>=5.1,<5.2
wagtailmenus==3.1.9
Pillow
Willow
Wand
Unidecode
asgiref
beautifulsoup4
certifi
chardet
django-cogwheels
django-colorfield
django-debug-toolbar
django-modelcluster
django-pipeline
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
idna
l18n
pip
psycopg2-binary
pytz
requests
setuptools
six
sqlparse
urllib3
