<h2><span>Leave a Comment</span></h2>
<div class="comment">
<form method='POST'>
<label for="id_body">Comment:</label><br/><textarea id="id_body" rows="10" cols="40" name="body" class="required"></textarea><br/>
<!--<label for="id_name">Name (optional):</label><input id="id_name" type="text" class="required" name="name" maxlength="100" />-->
<label for="id_email">Email (optional):</label><br/><input id="id_email" type="text" class="required" name="email" maxlength="200" /><br/>
<p><input type='submit' value='Send'></p>
</form>


