{% extends "wagtail-root.html" %}

{% block page-title %}How embarrassing...{% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="col-12 px-5 py-3">
            <h2>We've encountered an Internal Server Error.</h2>
            <p>Thanks for your patience! Please come back to try again soon.</p>
            <ul>
                <li>A notification has been sent, and we will try to sort out the problem as soon as possible.</li>
            </ul>
        </div>
    </div>
{% endblock %}

