{% extends "wp-admin.html" %}

{% load get_version %}
{% load i18n %}
{% load truncate_filters %}
{% load math_filters %}

{% block extra-header %}
    <script type="text/javascript" src="/media/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.axislabels.js"></script>
    
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/imm.css" />
{% endblock %}
    
{% block "page-content" %}
    <div id="headline">
        <div class="wrapper">
            <h2>{{ title }}</h2>
        </div>
    </div>
    
    <div id="pagebody">
        <div id="bodyContent" class="wrapper">
            <div class="col-12">
                <div class="half"><h3 style="text-align: center;">Structures and Publications from Data Collected at the CMCF by Year</h3></div>
                <div class="half"><h3 style="text-align: center;">Total Structures and Publications from Data Collected at the CMCF</h3></div>
                <div class="half"><h3> </h3></div>
                <div class="half"><h3> </h3></div>
                <div class="clear"></div>
                <div id="total" class="placeholder"></div>
                <div id="cumulative" class="placeholder"></div>
                
                <div class="clear"></div>
                <br>
                <div class="object-list">
                {% for key, ptitle in categories.items %}
                    {% for type, dstats in stats.items %}{% ifequal key type %}
                    <table id="objlist-list-table" width="100%">
                        <thead>
                            <tr class="header">
                                <th width="15%">{{ ptitle }}</th>
                                {% for year, val in stats.pubs.total.items %}
                                    <th>{{year}}</th>
                                {% endfor %}    
                                <th>Total</th>
                            </tr>                    
                        </thead>
                        <tbody>                       
                            {% for blname, bldict in dstats.items %}{% if blname in beamlines %}
                                <tr>
                                    <td style="text-align: center !important;">{{ blname|capfirst }}</td>
	                                {% for year, val in bldict.items %}
		                                    <td style="text-align: center !important;">
		                                        {{ val }}
		                                        {% for y, v in dstats.multi.items %}{% ifequal y year %}{% ifnotequal v 0 %}
		                                          ({{v}})*
		                                        {% endifnotequal %}{% endifequal %}{% endfor %}
		                                    </td>
	                                {% endfor %}
	                                <td style="text-align: center !important;">
	                                   {{ bldict|get_total }}
                                       {% ifnotequal dstats.multi|get_total 0 %}
                                           ({{dstats.multi|get_total}})*
                                       {% endifnotequal %}</td>
                                </tr>  
                                {% endif %}{% endfor %}
                                {% for blname, bldict in dstats.items %}{% if blname in extra_rows %}{% ifnotequal bldict|get_total 0 %}
                                <tr {% ifequal blname 'total' %}style="font-weight: bold;"{% endifequal %}>
                                    <td style="text-align: center !important;">{{ blname|capfirst }}{% ifequal blname 'unknown' %}{% ifequal type 'pdbs' %}**{% endifequal %}{% endifequal %}</td>
                                    {% for year, val in bldict.items %}
                                        <td style="text-align: center !important;">{{ val }}</td>
                                    {% endfor %}
                                    <td style="text-align: center !important;">{{ bldict|get_total }}</td>
                                </tr>                                 
                                {% endifnotequal %}{% endif %}{% endfor %}
	                        {% endifequal %}{% endfor %}
                        </tbody>
                    </table>
                    <p>{% cycle '* Numbers in parentheses indicate publications or PDB releases based on data from multiple beamlines.' "**'Unknown' PDB Releases are associated with a publication citing work on multiple beamlines." %}</p>
                    <div class="clear"></div> 
                    {% endfor %}
                           
                </div>
				<h2>Publications</h2>
				
				<div class="object-list">
				    <h3>Ranked by Impact Factor</h3>
					<table id="objlist-list-table" width="100%" cellspacing="0" cellpadding="2" border="0">
					    <thead>
					    <tr class="header">
					        <th>Rank</th>
					        <th>Reference</th>
                            <th>PDB</th>
                            <th>Beamline</th>
					        <th style="white-space: nowrap">Impact Factor</th>
					        <th>Published</th>
					    </tr>
					    </thead>
					    <tbody>
					    {% for pub in publications %}
					    <tr class="{% cycle 'odd' 'even' %}{% if not pub.get_pdbs.0 %} complete-row{% endif %}">
					        <td>{{ forloop.counter }}</td>
					        <td>{{ pub.display_citation|removetags:"p"|safe }}</td>
					        <td style="text-align: center !important;">
					            {% for pdb in pub.get_pdbs %}
					            <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pdb}}">{{pdb}}</a>
					            {% endfor %}
					        </td>
					        <td style="text-align: center !important;">{{ pub.get_beamlines }}</td>
					        <td style="text-align: center !important;">{{pub.journal.impact_factor}}</td>
					        <td>{{ pub.publish|date:"N Y" }}</td>
					    </tr>
					    {% endfor %}
					    </tbody>
					</table>
			    </div>
            </div>
        </div>
    </div>
    
    <!--<br class="clear">-->
{% endblock %}
    
{% block script %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        var data = {};
        var width = 0.4;
        {% for idname, idvals in stats.items %}{% if idname in categories.keys %}
            data['{{idname}}'] = {};
	        {% for plot in plots %}{% for type, statistics in idvals.items %}{% ifequal type plot %}
	            data['{{idname}}']['{{type}}'] = [];
	            {% for year, val in statistics.items %}
	                var xvar = {{ year }} - {% ifequal type 'total' %}width/2{% else %}0{% endifequal %};
	                data['{{idname}}']['{{type}}'].push([xvar,{{val}}]);
	            {% endfor %}
	        {% endifequal %}{% endfor %}{% endfor %}
	    {% endif %}{% endfor %}
	    
	    {% for plot in plots %}
	        $.plot($("#{{plot}}"), [ {data: data['pubs']['{{plot}}'], label: 'CMCF Publications'}, 
	                             {data: data['pdbs']['{{plot}}'], label: 'Protein Data Bank Releases'} ], 
	            {   series: { 
	                    lines: {show: {% cycle 'false' 'true' %}, fill: {% cycle 'true' 'false' %}, lineWidth: 1 }, 
	                    bars: { show: {% cycle 'true' 'false' %}, barWidth: width, fill: 0.35, lineWidth: 0.5, },
	                    points: { show: true, radius: 2, fill: true },
	                    shadowSize: 0,                            
	                },
	                xaxis: { tickDecimals: 0, axisLabel: 'Year' },
	                yaxis: { axisLabel: '{% cycle 'Total For Year' 'Cumulative' %}' },
	                legend: { position: 'nw' },
	                grid: { hoverable: true, borderWidth: 0 }
	        });             
	    {% endfor %}

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#fee',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		} 

		$(".placeholder").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(0));
			$("#y").text(pos.y.toFixed(0));
			if (item) {
				if (previousPoint != item.dataIndex) {
					previousPoint = item.dataIndex;
					$("#tooltip").remove();
					var x = item.datapoint[0].toFixed(0),
					y = item.datapoint[1].toFixed(0);
					showTooltip(item.pageX, item.pageY,
					item.series.label + " of " + x + " = " + y);
				}
			}
			else {
				$("#tooltip").remove();
				previousPoint = null;
			}
		});
    });
</script>
{% endblock %}
