{% load i18n %}
{% load truncate_filters %}
{% block "page-content" %}
<h2><span><a href="/publications/">Recent Publications &raquo;</a></span></h2>
<ul class="hr-list">
{% for publication in publication_list %}
    <li>
	{{publication.1}}. 
	({{publication.0.year}}). 
	<a title="View Reference", href="/publications/#{{publication.0.slug}}">{{publication.0.title|truncate_chars:95|striptags|safe}}</a>
	<i> {{publication.0.journal}} </i>
	{{publication.0.citation}}.
    </li>
{% endfor %}
</ul>
{% endblock %}



				

