	{% for pub in publications %}
		<tr class="{% cycle 'odd' 'even' %}{% if not pub.get_pdbs.0 %} complete-row{% endif %}">
		    <td>{{ forloop.counter }}</td>
		    <td>{{ pub.display_citation|removetags:"p"|safe }}</td>
		    <td style="text-align: center !important;">
		        {% for pdb in pub.get_pdbs %}
		        <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pdb}}">{{pdb}}</a>
		        {% endfor %}
		    </td>
		    <td style="text-align: center !important;">{{ pub.get_beamlines }}</td>
		    <td style="text-align: center !important;">{{pub.journal.impact_factor}}</td>
		    <td>{{ pub.publish|date:"N Y" }}</td>
		</tr>
	{% endfor %}
