{% extends "wp-admin.html" %}

{% load get_version %}
{% load i18n %}
{% load truncate_filters %}
{% load math_filters %}

{% block extra-header %}
    <script type="text/javascript" src="/media/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.flot.axislabels.js"></script>
    
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/imm.css" />
{% endblock %}
    
{% block "page-content" %}
    <div id="headline">
        <div class="wrapper">
            <h2>{{ title }}</h2>
        </div>
    </div>
    
    <div id="pagebody">
        <div id="bodyContent" class="wrapper">
            <div class="col-12">
                <div class="half"><h3 style="text-align: center;">Structures and Publications from Data Collected at the CMCF by Year</h3></div>
                <div class="half"><h3 style="text-align: center;">Total Structures and Publications from Data Collected at the CMCF</h3></div>
                <div class="half"><h3> </h3></div>
                <div class="half"><h3> </h3></div>
                <div class="clear"></div>
                <div id="norm" class="placeholder"></div>
                <div id="add" class="placeholder"></div>
                
                <div class="clear"></div>
                <br>
                
                <div class="object-list">
                {% for key, keytitle in categories.items %}
                    {% for type, stat in stats.norm.items %}{% ifequal key type %}
                    <table id="objlist-list-table" width="100%">
                        <thead>
                            <tr class="header">
                                <th width="15%">{{ keytitle }}</th>
                                {% for year, val in stats.norm.pubs.items %}
                                    <th>{{year}}</th>
                                {% endfor %}    
                                <th>Total</th>
                            </tr>                    
                        </thead>
                        <tbody>
                            {% for bltype, bldict in stats.bls.items %}{% ifequal key bltype %}
	                            {% for bl, blstats in bldict.items %}{% ifnotequal bl 'multi' %}
                                <tr class="{% cycle 'odd' 'even' %}">
                                    <td style="text-align: center !important;">{{ bl }}</td>
	                                {% for year, val in blstats.items %}
		                                    <td style="text-align: center !important;">
		                                        {{ val }}
		                                        {% for y, v in bldict.multi.items %}{% ifequal y year %}{% ifnotequal v 0 %}
		                                          ({{v}})*
		                                        {% endifnotequal %}{% endifequal %}{% endfor %}
		                                    </td>
	                                {% endfor %}
	                                <td style="text-align: center !important;">
	                                   {{ blstats|get_total }}
                                       {% ifnotequal bldict.multi|get_total 0 %}
                                           ({{bldict.multi|get_total}})*
                                       {% endifnotequal %}</td>
                                </tr>  
	                            {% endifnotequal %}{% endfor %}
	                        {% endifequal %}{% endfor %}
                            <tr class="odd">
                                <td style="text-align: center !important; font-weight: bold;"> Total</td>
                                {% for year, val in stat.items %}
                                    <td style="text-align: center !important; font-weight: bold;">{{ val }}</td>
                                {% endfor %}
                                <td style="text-align: center !important; font-weight: bold;">{{ stat|get_total }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endifequal %}{% endfor %}{% endfor %}
                    <p>* Numbers in parentheses indicate publications or PDB releases based on data from multiple beamlines.</p>                            
                </div>
                <div class="clear"></div>
				<h2>Publications</h2>
				
				<div class="object-list">
				    <h3>Ranked by Impact Factor</h3>
					<table id="objlist-list-table" width="100%" cellspacing="0" cellpadding="2" border="0">
					    <thead>
					    <tr class="header">
					        <th>Rank</th>
					        <th>Reference</th>
                            <th>PDB</th>
					        <th style="white-space: nowrap">Impact Factor</th>
					        <th>Published</th>
					    </tr>
					    </thead>
					    <tbody>
					    {% for pub in publications %}
					    <tr class="{% cycle 'odd' 'even' %}{% if not pub.get_pdbs.0 %} complete-row{% endif %}">
					        <td>{{ forloop.counter }}</td>
					        <td>{{ pub.display_citation|removetags:"p"|safe }}</td>
					        <td style="text-align: center !important;">
					            {% for pdb in pub.get_pdbs %}
					            <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pdb}}">{{pdb}}</a>
					            {% endfor %}
					        </td>
					        <td style="text-align: center !important;">{{pub.journal.impact_factor}}</td>
					        <td>{{ pub.publish|date:"N Y" }}</td>
					    </tr>
					    {% endfor %}
					    </tbody>
					</table>
			    </div>
            </div>
        </div>
    </div>
    
    <!--<br class="clear">-->
{% endblock %}
    
{% block script %}
    <script type="text/javascript">
    jQuery(document).ready(function() {
        {% for idname, idvals in stats.items %}{% ifnotequal idname 'bls' %}
	        var data = {};
	        var datasets = {};
	        var width = 0.4;
	        {% for type, statistics in idvals.items %}
	            data['{{type}}'] = [];
	            {% for year, val in statistics.items %}
	                var xvar = {{ year }} - {% ifequal idname 'norm' %}width/2{% else %}0{% endifequal %};
	                datasets['{{type}}'] = {label: '{{year}}', data: {{val}} };
	                data['{{type}}'].push([xvar,{{val}}]);
	            {% endfor %}
	        {% endfor %}
	        $.plot($("#{{idname}}"), [ {data: data['pubs'], label: 'CMCF Publications'}, 
	                             {data: data['pdbs'], label: 'Protein Data Bank Releases'} ], 
	            {   series: { 
	                    lines: {show: {% cycle 'true' 'false' %}, fill: {% cycle 'false' 'true' %}, lineWidth: 1 }, 
	                    bars: { show: {% cycle 'false' 'true' %}, barWidth: width, fill: 0.35, lineWidth: 0.5, },
	                    points: { show: true, radius: 2, fill: true },
	                    shadowSize: 0,                            
	                },
	                xaxis: { tickDecimals: 0, axisLabel: 'Year' },
	                yaxis: { axisLabel: '{% cycle 'Cumulative' 'Total For Year' %}' },
	                legend: { position: 'nw' },
	                grid: { hoverable: true, borderWidth: 0 }
	        });             
	    {% endifnotequal %}{% endfor %}

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#fee',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		} 

		$(".placeholder").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(0));
			$("#y").text(pos.y.toFixed(0));
			if (item) {
				if (previousPoint != item.dataIndex) {
					previousPoint = item.dataIndex;
					$("#tooltip").remove();
					var x = item.datapoint[0].toFixed(0),
					y = item.datapoint[1].toFixed(0);
					showTooltip(item.pageX, item.pageY,
					item.series.label + " of " + x + " = " + y);
				}
			}
			else {
				$("#tooltip").remove();
				previousPoint = null;
			}
		});
    });
    </script>
{% endblock %}
