{% load i18n %}

{% if year_list %}
    {% for year in year_list %}
        <a href="#{{ year }}"> {{ year }} </a> 
        {% if forloop.last %}{% else %}-{% endif %}
    {% endfor %}
    <a class="right-subtitle" href="http://biosync.sbkb.org/stats.do?stats_sec=GALLRY&amp;stats_focus_lvl=BMLN&amp;stats_site=CLSI&amp;stats_bmln=08ID-1">08ID-1 Gallery at BioSync</a>
    {% for year in year_list %}<h2><a name="{{ year }}"></a>{{ year }}</h2>
        {% for publication in publication_list %}
            {% ifequal year publication.0.year %}
                <p>
                    <a name="{{publication.0.slug}}"></a>
                    {{ publication.0.authors|safe }}. 
                    ({{ publication.0.year }}). 
                    {{ publication.0.title|striptags|safe }}. 
                    <i>{{ publication.0.journal }}</i>
                    {% if publication.0.citation %}{{ publication.0.citation }}{% endif %}
                    {% if publication.0.original %}<br>
                        DOI: <a href="http://dx.doi.org/{{ publication.0.original }}">{{ publication.0.original }}</a>
                        {% if publication.0.pdb_entries %}
                             | PDB: 
                            {% for pdb in publication.1 %}
                                <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pdb}}">
                                    {{ forloop.counter }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </p>
            {% endifequal %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if year_list %}
{% else %}
    {% for publication in publication_list %}
        {% if forloop.first %}
            <h2>{{publication.year}}</h2>
            <h2 class="subtitle">
                <a href="/publications">Back to Full List</a>
                <a class="right-subtitle" href="http://biosync.rcsb.org/biosync_gallery/galleryCLSI08ID-1.html">08ID-1 Gallery at BioSync</a>
            </h2>
        {% endif %}
    {% endfor %}
{% endif %}

