div#wiki_panel, div#header {
	display:none;
}
.col-8 {
    width: 934px;
}
div#wiki_article {
    padding-right: 132px;
    background-image: url(/media/img/staffman.png);
    background-repeat: repeat-y;
    background-position: 100% 24px;
}
