{% load wagtailimages_tags %}

{% image person.image width-170 as photo %}
{% image person.hover_image width-170 as hover %}

{% if photo %}

<div class="card">

    <div class="card-body h-100">
        <div class="card-img" style="background-image: url('{{ photo.url }}');" title="{{ photo.alt }}">
             {% if hover %}
                <div class="card-img-hover"
                     style="background-image: url('{{ hover.url }}');"
                     title="{{ hover.alt }}"></div>
             {% endif %}
        </div>

        <h3 class="card-title text-uppercase ellipsis-single">
            <a class="mail-link" href="mailto:{{ person.email|urlencode }}" title="Contact {{ person.name }}" rel="{{ person.email }}">{{ person.name }}</a>
        </h3>
        <p class="card-text text-muted ellipsis-single">{{ person.position }}</p>
        {% if person.office %}<p class="card-text contact-location ellipsis-single">{{ person.office }}</p>{% endif %}
        {% if person.phone %}<p class="card-text contact-phone ellipsis-single">{{ person.phone }}</p>{% endif %}
    </div>
</div>
{% else %}
    <p>
        <span class="card-title text-uppercase">{{ person.name }}</span> |
        <span class="card-text text-muted">{{ person.position }}</span>
    </p>

    {% if person.office %}<p class="card-text contact-location">{{ person.office }}</p>{% endif %}
    {% if person.phone %}<p class="card-text contact-phone">{{ person.phone }}</p>{% endif %}
{% endif %}