<h2>Applications Received:</h2>
<div id="schedule">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Country</th>
        <th>Status</th>
    </tr>
    </thead>
    {% for app in applicant_list %}
        <tr>
            <td><a href="/{{app.pk}}">{{app.name}}</a></td>
            <td>{{app.institution}}</td>
            <td>{{app.country}}</td>
            <td>
                {% if app.undergrad %}Undergraduate Student
                    {% if app.masters or app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.masters %}Masters Student
                    {% if app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.phd %}PhD Student
                    {% if app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.postdoc %}Postdoctoral Fellow
                    {% if app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.faculty %}Faculty
                    {% if app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.staff %}Research Staff
                    {% if app.other %}/{% endif %}
                {% endif %}
                {% if app.other %}Other ({{app.other_text}}){% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
    
    
