<form action="" method='POST' accept-charset="ASCII,UTF-8,ISO-8859-1">
Required fields are marked by <span class="req">*</span>.

<h2>Personal Information</h2>

<p class="name">
    <label class="desc" for="title">Name<span class="req"> *</span></label><br>
    <input name="name" type="text" class="medium" value="" size="8" tabindex="1"  />
</p>

<p>
    <label class="desc" for="email">Email<span class="req"> *</span> </label><br>
    <input name="email" type="text" class="medium" value="" maxlength="255" tabindex="2"  /> 
</p>

<p class="phone">
    <label class="desc" for="phone">Phone Number</label><br>
    <input id="phone" name="phone" type="text" class="medium" value="" size="15" maxlength="15" tabindex="3"  />
</p>

<p>
    <label class="desc" id="institution" for="institution">Institution<span class="req"> *</span></label><br>
    <input id="institution" name="institution" type="text" class="medium" value="" maxlength="255" tabindex="4"  />
</p>


<p class="complex">
    <label class="desc" id="addr1" for="addr1">Mailing Address<span class="req"> *</span></label><br>

    <input name="addr1" type="text" class="full" value="" tabindex="5"  /><br>
    <label class="subdesc" for="addr1">Street Address</label><br>

    <input name="addr2" type="text" class="full" value="" tabindex="6"  /><br>
    <label class="subdesc" for="addr2">Address Line 2 (if needed)</label><br>

    <nobr>     
        <input name="city" type="text" class="half" value="" tabindex="7"  />        
        <input name="state" type="text" class="half" value="" tabindex="8"  />
    </nobr>
    <nobr>
        <label class="subdesc" for="city">City</label>
        <label class="subdesc" for="state">State / Province / Region</label>
    </nobr><br>

 
    <nobr>
        <input name="code" type="text" class="half" value="" maxlength="15" tabindex="9" />
        <input name="country" type="text" class="half" value="" maxlength="50" tabindex="10" />
    </nobr>
    <nobr>
        <label class="subdesc" for="code">Postal Code / Zip Code</label>
        <label class="subdesc" for="country">Country</label>
    </nobr>
</p>
<br>

<p>
    <label class="desc" id="status" for="undergrad">Please choose the appropriate box:<span class="req"> *</span></label><br>
     
    <input id="undergrad" name="undergrad" type="checkbox" class="field checkbox" value="Undergraduate Student" tabindex="11"  />
    <label class="choice" for="undergrad">Undergraduate Student</label><br>
     
    <input id="masters" name="masters" type="checkbox" class="field checkbox" value="Masters Student" tabindex="12"  />
    <label class="choice" for="masters">Masters Student</label><br>
     
    <input id="phd" name="phd" type="checkbox" class="field checkbox" value="Ph.D. Student" tabindex="13" />
    <label class="choice" for="phd">Ph.D. Student</label><br>
     
    <input id="postdoc" name="postdoc" type="checkbox" class="field checkbox" value="Postdoctoral Fellow" tabindex="14"  />
    <label class="choice" for="postdoc">Postdoctoral Fellow</label><br>

    <input id="faculty" name="faculty" type="checkbox" class="field checkbox" value="Faculty" tabindex="15" />
    <label class="choice" for="faculty">Faculty</label><br>
     
    <input id="staff" name="staff" type="checkbox" class="field checkbox" value="Research Staff" tabindex="16" />
    <label class="choice" for="staff">Research Staff</label><br>
     
    <input id="other" name="other" type="checkbox" class="field checkbox" value="Other, please specify:" tabindex="17" />
    <label class="choice" for="other">Other, please specify:</label>
    <input id="other_text" name="other_text" type="text" class="half" value="" maxlength="255" tabindex="18"  />
</p>

<h2>If you are a student, provide contact information for your supervisor:</h2>

<p class="name">
    <label class="desc" for="sup_name">Supervisor's Name</label><br>
    <input name="sup_name" type="text" class="medium" value="" size="8" tabindex="19"  />
</p>

<p>
    <label class="desc" for="sup_email">Supervisor's Email</label><br>
    <input name="sup_email" type="text" class="medium" value="" maxlength="255" tabindex="20"  /> 
</p>

<p class="phone">
    <label class="desc" for="sup_phone">Supervisor's Phone Number</label><br>
    <input name="sup_phone" type="text" class="medium" value="" size="15" maxlength="15" tabindex="21"  />
</p>

<p class="complex">
    <label class="desc" for="sup_addr1">Supervisor's Mailing Address</label><br>

    <input name="sup_addr1" type="text" class="full" value="" tabindex="22"  />
    <label class="subdesc" for="sup_addr1">Street Address</label>

    <input name="sup_addr2" type="text" class="full" value="" tabindex="23"  />
    <label class="subdesc" for="sup_addr2">Address Line 2 (if needed)</label>
     
    <nobr>
    <input name="sup_city" type="text" class="half" value="" tabindex="24"  />
    <input name="sup_state" type="text" class="half" value="" tabindex="25"  />
    </nobr>
     
    <nobr>
    <label class="subdesc" for="sup_city">City</label>
    <label class="subdesc" for="sup_state">State / Province / Region</label>
    </nobr>
 
    <nobr>
    <input name="sup_code" type="text" class="half" value="" maxlength="15" tabindex="26"  />
    <input name="sup_country" type="text" class="half" value="" maxlength="20" tabindex="27"  />
    <nobr>
     
    <nobr>
    <label class="subdesc" for="sup_code">Postal Code / Zip Code</label>
    <label class="subdesc" for="sup_country">Country</label>
    </nobr>
</p>
<br>
<h2>Travel</h2>

<p>
    <label class="desc" for="travel">Do you wish to be considered for travel assistance? (For Canadian students only)</label><br>
    <input name="travel" type="radio" value="yes" tabindex="28"/>
    <label class="choice" for="travel">Yes</label><br>
    <input name="travel" type="radio" value="no" tabindex="29"/>
    <label class="choice" for="travel">No</label><br>
</p>
    
<p>
    <label class="desc" for="visa">If you are not a Canadian citizen, would you need to obtain a VISA to attend the course? (If you are not sure, information can be found <a href="http://www.cic.gc.ca/EnGLish/visit/visas.asp">here</a>.)</label><br>
    <input name="visa" type="radio" value="yes" tabindex="30"/>
    <label class="choice" for="visa">Yes</label><br>
    <input name="visa" type="radio" value="no" tabindex="31"/>
    <label class="choice" for="visa">No</label><br>
</p>

<p>
    <label class="desc" for="crystals">If selected, do you plan to bring crystals for the practical sessions?<span class="req"> *</span></label><br>
    <input name="crystals" type="radio" value="yes" tabindex="32"/>
    <label class="choice" for="crystals">Yes</label><br>
    <input name="crystals" type="radio" value="no" tabindex="33"/>
    <label class="choice" for="crystals">No</label><br>
</p>

<h2>Research Interests/Experience</h2>

<p>There will be a limited number of spaces availabe at the school to ensure that the maximum amount of practical instruction can be given at the beamlines and while analyzing data.  The following questions will help us in selecting the most suitable candidates.</p>

<p>
    <label class="desc" for="research">Please provide a short abstract of the crystallography research you are presently conducting or plan to be involved in.<span class="req"> *</span></label><br>
    <textarea class="full" name="research" rows="5" tabindex="34"></textarea>
</p>

<p>
    <label class="desc" for="benefit">Please describe briefly your experience collecting diffraction data, processing data and/or solving structures, including any programs you are familiar with or courses you have taken.  How do you think this course would benefit you?<span class="req"> *</span></label><br>
    <textarea class="full" name="benefit" rows="5" tabindex="35"></textarea>
</p>


<p><input type='submit' value='Send' tabindex="36"></p>

</form>

