<h2>Registrations Received:</h2>
<div id="schedule">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Supervisor</th>
        <th>Position</th>
        <th>Talk?</th>
        <th>Type</th>
        <th>Abstract</th>
    </tr>
    </thead>
    {% for app in participant_list %}
        <tr>
            <td><a href="/admin/application_form/registration/{{app.pk}}">{{app.name}}</a></td>
            <td>{{app.institution}}</td>
            <td>{{app.sup_name}}</td>
            <td>
                {% if app.undergrad %}Undergrad
                    {% if app.masters or app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.masters %}MSc
                    {% if app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.phd %}PhD
                    {% if app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.postdoc %}Postdoc
                    {% if app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.faculty %}Faculty
                    {% if app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.staff %}Staff
                    {% if app.other %}/{% endif %}
                {% endif %}
                {% if app.other %}Other ({{app.other_text}}){% endif %}
            </td>
            <td>{% if app.talk %}&#10004;{% endif %}</td>
            <td>{% ifequal app.type 0 %}Poster{% else %}{% ifequal app.type 1 %}Oral{% endifequal %}{% endifequal %}</td>
            <td>{% if app.abstract_provided %}&#10004;{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</div>
    
    
