.grappelliSkin span.mce_sub { background-image: url('/static/img/buttons/subscript.png'); }
.grappelliSkin span.mce_sup { background-image: url('/static/img/buttons/superscript.png'); }
.grappelliSkin span.mce_anchor { background-image: url('/static/img/buttons/anchor.png'); }
.grappelliSkin span.mce_indent { background-image: url('/static/img/buttons/indent.png'); }

#content .panel {
	pointer-events: none;
}
#content .panel div {
	pointer-events: auto;
}
span.handle {
	width: 24px !important;
}
span.modname {
	color: #666;
	padding-bottom: 32px;
	display: inline-block;
	vertical-align: middle;
}
.order-item h2 {
	height: 24px !important;
}
.tab-content .control-label {
	min-width: 50px !important;
}
.item-content .control-label {
	display: none !important;
}
.item-content .controls {
	width: auto !important;
	display: block !important;
	margin-left: 0px;
}
.item-content .controls span {
	width: 100%;
}
.item-content .control-group, .item-content .control-group > div {
	display: block !important;
}
.item-content .hidden-form-row {
	display: none !important;
	height: 0px !important;
}

.breadcrumbs {
    width: 100%;
    position: absolute;
}

.left-nav {
    margin-top: 50px;
    padding-top: 34px;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 150px;
    min-height: 100%;
}

.left-nav > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.left-nav ul > li > a {
    border-bottom: 1px solid #ededed;
    display: block;
    padding: 5px 10px 5px 13px;
    color: #666 !important;
    text-decoration: none;
    position: relative
}

.left-nav > ul > li > a i {
    margin-right: 10px;
    opacity: .8;
}

.left-nav > ul > li > a em {
    float: right;
    font-style: normal;
    font-size: 11px;
    margin: 0;
    position: absolute;
    right: 10px
}

.left-nav > ul > li:last-child > a {
    border: 0
}

.left-nav > ul > li.active > a {
    color: #fff !important;
    text-shadow: 0 1px #4f7f92;
    background-color: #5295b0;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));
    background-image: -webkit-linear-gradient(#83b3c3, #5295b0);
    background-image: -moz-linear-gradient(#83b3c3, #5295b0);
    background-image: -o-linear-gradient(top, #83b3c3, #5295b0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";
    border-bottom-color: #ccc
}

.left-nav > ul > li.active > a:after {
    content: url('../img/cc_active_nav.png');
    display: inline-block;
    margin-right: -21px;
    float: right;
    margin-top: -5px
}

.left-nav > ul > li.active ul {
    display: block
}
.left-nav > ul > li.active ul > li > a {
    border: none;
}
.left-nav  ul li {
    list-style-type: none;
    padding: 0;
    line-height: 18px;
}

.left-nav > ul > li.separator, .left-nav > ul > li.separator:hover {
    background: #f0f0f0 !important;
    height: 7px;
    display: block
}

.left-nav > ul > li ul {
    display: none;
    border-bottom: 1px solid #ededed;
    background-color: #f6f7f8;
    margin: -1px 0 0 0;
    padding: 7px 0 7px 0;
    -webkit-box-shadow: inset 0 3px 3px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 3px -2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 3px -2px rgba(0, 0, 0, 0.2);
    list-style: none
}

.left-nav > ul > li ul li a {
    display: block;
    padding: 3px 0 4px 27px;
    text-decoration: none
}

.left-nav > ul > li ul li a:hover {
    background-color: #f1f1f1;
    text-shadow: 0 1px #fff
}

.left-nav > ul > li ul li a.add {
    padding: 4px 0 4px 13px
}

.left-nav > ul > li ul li a.add i {
    margin-right: 5px;
    opacity: .7
}

.left-nav > ul > li ul li a i {
    margin-left: -20px;
    margin-right: 5px;
    opacity: .7
}

.left-nav > ul > li ul li.active a {
    color: #333;
    font-weight: bold
}

.left-nav > ul > li:not(.active):hover {
    background: #f5f5f5
}

.left-nav > ul > li:not(.active):hover > ul {
    display: block;
    position: absolute;
    left: 150px;
    padding: 0;
    margin-top: -30px;
    margin-right: -250px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    z-index: 10
}

.left-nav > ul > li:not(.active):hover > ul > li {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid white;
    background-color: transparent
}

.left-nav > ul > li:not(.active):hover > ul > li a {
    padding: 3px 25px 3px 15px
}

.left-nav > ul > li:not(.active):hover > ul > li:hover {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1
}

.left-nav > ul > li:not(.active):hover > ul > li:first-child {
    border-top: 0
}

.left-nav > ul > li:not(.active):hover > ul > li:first-child a {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    padding-top: 4px
}

.left-nav > ul > li:not(.active):hover > ul > li:last-child {
    border-bottom: 0
}

.left-nav > ul > li:not(.active):hover > ul > li:last-child a {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 4px
}

body, #changelist {
    background-color: #EDEFF1;
    min-width: 960px
}


.sidebar-space + #content {
    margin-left: 150px;
    margin-top: 34px;
}
#header + .sidebar-space + #content {
	//margin-top: -40px;
}
.breadcrumbs + .sidebar-space + #content {
	//margin-top: 0px;
}