.wcsb #header .banner {
	background: url("/static/img/wcsbbanner.png") no-repeat scroll right top transparent;
}
.wcsb #header {
	background: url("/static/img/header_bg_wcsb.png") repeat-x scroll left top #DCDCDC;
}
.wcsb .logo {
	background: url("/static/img/psfamlogo.png") no-repeat scroll left top transparent !important;
}
body.wcsb {
	font-size: 15px !important;
}
.wcsb .site-name a span {
	color: #ffc300;
}
.wcsb h2 sup {
	line-height: 11px;
	font-size: 60%;
}
.wcsb #main-wrapper {
	background: url("/static/img/wcsb-bg.png") repeat-y scroll left top;
	margin: 0px auto;
	padding-left: 12px;
	min-height: auto;
}
.wcsb #headline {
}
.wcsb #headline h2 {
	padding-left: 16px;	
}
.wcsb #bodyContent {
	padding: 15px 18px;
}
.wcsb #bodyContent h2 {
	margin-bottom: 10px;
}
.wcsb pre {
	font-size: 16px;
	text-align: center;
	color: #00289E;
	font-family: "Open Sans Condensed", serif !important;
}
.wcsb pre.application {
	text-align: left;
}
.wcsb #schedule table {
	font-size: 80%;	
}