div#header {
    display: none;
}
#header-print {
	//display: block !important;
}
#toTop, #toTop a { 
    display: none !important;
}
#toTop.wiki, #toTop a.wiki {
    display: none !important;
}
#footer {
    display: none;
}
div#___gcse_0 {
    display: none !important;
}

.col-3 {
    width: 175px;
}
.col-9 {
    width: 729px;
}
#pagebody img {
    max-width: 729px !important;
}
#pagebody p, #pagebody ul {
    margin-bottom: 15px !important;
}

#pagebody pre {
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-guide .col-sm-3 {
    display: none;
}
.user-guide .col-sm-9 {
    width: 100%;
}
.site-name {
    display: none !important;
}
code, pre {
  color: #000;
  background: #F0F0F0 !important;
}