{%  extends "wagtail-1-col.html" %}

{% load static %}

{% block extra_css %}
    <style>
      iframe {
        width: 1px;
        min-width: 100%;
      }
    </style>
{% endblock %}

{% block page-title %}
    {{ page.title }}
{% endblock %}

{% block content %}
    {% if page.body %}
    <div class="row">
        <div class="col-12 px-5 pt-3">
            {{ page.body }}
        </div>
    </div>
    {% endif %}

    <iframe frameborder="0" src="{{page.embed}}" {% if page.height %}height="{{ page.height }}"{% endif %}></iframe>
{% endblock %}

{% block pre_js %}
    <script type="text/javascript" src="{% static 'js/iframeResizer.js' %}"></script>
    <script>
        $(document).ready(function() {
            iFrameResize({
                log: false,
                inPageLinks: true,
                autoResize: false,
            });
        });
    </script>
{% endblock %}