<form class="application" action="" method='POST' accept-charset="ASCII,UTF-8,ISO-8859-1">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


<p>The deadline for submitting your application is April 7, 2015, but early application is encouraged.</p>

<b>Required fields are marked by <span class="req">*</span>.</b>

<h2>Personal Information</h2>

<p class="name">
    <label class="desc" for="title">Name<span class="req"> *</span></label><br>
    {{ form.name }}
</p>

<p>
    <label class="desc" for="email">Email<span class="req"> *</span> </label><br>
    {{ form.email }}
</p>

<p class="phone">
    <label class="desc" for="phone">Phone Number</label><br>
    {{ form.phone }}
</p>

<p>
    <label class="desc" id="institution" for="institution">Institution<span class="req"> *</span></label><br>
    {{ form.institution }}
</p>


<p class="complex">
    <label class="desc" id="addr1" for="addr1">Mailing Address<span class="req"> *</span></label><br>

    <label class="subdesc" for="addr1">Street Address</label><br>
    {{ form.addr1 }}

    <label class="subdesc" for="addr2">Address Line 2 (if needed)</label><br>
    {{ form.addr2 }}
		
    <nobr>
        <label class="subdesc" for="city">City</label>
        <label class="subdesc" for="state">State / Province / Region</label>
    </nobr>
    <br><br>
        {{ form.city }}
        {{ form.state }}
 	<div class="clear"></div>
    <nobr>
        <label class="subdesc" for="code">Postal Code / Zip Code</label>
        <label class="subdesc" for="country">Country</label>
    </nobr><br>
    <nobr>
        {{ form.code }}
        {{ form.country }}
    </nobr>
<br>
</p>


<p>
    <label class="desc" id="status" for="undergrad">Please choose the appropriate box:<span class="req"> *</span></label><br>
     
    {{ form.undergrad }}
    <label class="choice" for="undergrad">Undergraduate Student</label><br>
     
    {{ form.masters }}
    <label class="choice" for="masters">Masters Student</label><br>
     
    {{ form.phd }}
    <label class="choice" for="phd">Ph.D. Student</label><br>
     
    {{ form.postdoc }}
    <label class="choice" for="postdoc">Postdoctoral Fellow</label><br>

    {{ form.faculty }}
    <label class="choice" for="faculty">Faculty</label><br>
     
    {{ form.staff }}
    <label class="choice" for="staff">Research Staff</label><br>
     
    {{ form.other }}
    <label class="choice" for="other">Other, please specify:</label>
    {{ form.other_text }}
</p>
<div class="clear"></div>
<h2>If you are a student, provide contact information for your supervisor:</h2>

<p class="name">
    <label class="desc" for="sup_name">Supervisor's Name</label><br>
    {{ form.sup_name }}
</p>

<p>
    <label class="desc" for="sup_email">Supervisor's Email</label><br>
    {{ form.sup_email }}
</p>

<p class="phone">
    <label class="desc" for="sup_phone">Supervisor's Phone Number</label><br>
    {{ form.sup_phone }}
</p>
<h2>Travel</h2>

<p>
    <label class="desc" for="travel">Support may be provided to students traveling from a Canadian institution outside of Saskatchewan.  Do you wish to be considered for any potential travel assistance?</label><br>
	{{ form.travel }}
</p>
    
<p>
    <label class="desc" for="visa">If you are traveling from outside of Canada, would you need to obtain a VISA to attend the course? (If you are not sure, information can be found <a href="http://www.cic.gc.ca/EnGLish/visit/visas.asp" target="_blank">here</a>.)</label><br>
	{{ form.visa }}
</p>

<h2>Your Time in Saskatoon</h2>

<p> The organizing committee will be making arrangements for participants to stay on the University of Saskatchewan campus.  Selected participants can expect to pay a registration fee of $650, including accommodations for up to 7 nights.  Participants making their own accommodation arrangements can expect to pay a registration fee of $425.  More details are available <a href="/school/participant-information/" target="_blank">here</a>.
</p>

<p>
    <label class="desc" for="stay">If selected, would you like the organizing committee to make accommodation arrangements for you on campus?</label><br>
    {{ form.stay }}
</p>

<p>
    <label class="desc" for="workshop">If selected, would you be interested in attending an optional, day-long crystallography review on Monday, June 1?</label>  An additional $20 will be added to the registration fee of participants attending the review.</label><br>
    {{ form.workshop }}
</p>

<h2>Crystals</h2>

<p>
    <label class="desc" for="crystals">If selected, do you plan to bring crystals for the practical sessions and participant beamtime?<span class="req"> *</span></label><br>
    {{ form.crystals }}
</p>

<h2>Research Interests/Experience</h2>

<p>There will be a limited number of spaces available at the school to ensure that the maximum amount of practical instruction can be given at the beamlines and while analyzing data.  The following questions will help us in selecting the most suitable candidates.</p>

<p>
    <label class="desc" for="research">Please provide a short abstract of the crystallography research you are presently conducting or plan to be involved in.</label>  (Maximum 200 words)<span class="req"> *</span><br>
    {{ form.research }}
</p>

<p>
    <label class="desc" for="benefit">Please describe briefly your experience collecting diffraction data, processing data and/or solving structures, including any crystallography-related courses you have taken.  How do you think this course would benefit you?</label> (Maximum 200 words)<span class="req"> *</span><br>
    {{ form.benefit }}
</p>

<p>
    <label class="desc" for="linux">Select all the programs/tasks that you have used or are familiar with:</label><span class="req"> *</span><br>
    {{ form.experience }}
</p>

<h2>Submit Your Application</h2>
<p>Before submitting your application, please type the characters you see in the box.<br>
{{form.captcha}}
</p>

<p><input type='submit' value='Submit Application' tabindex="28" /></p>

</form>

