{% load applicationcontent_tags %}

<h2>Registrations Received:</h2>
<div style="margin-left:-48px; margin-right: -37px;" id="schedule">
<table>
    <thead>
    <tr>
    	<th></th>
    	<th>Title</th>
    	<th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Institution</th>
        <th>Supervisor</th>
        <th>Position</th>
        <th>Oral</th>
        <th>Poster</th>
        <th>Abs?</th>
	<th>Mixer</th>
        <th>Diet</th>
        <th style="min-width:300px;">Presentation Title</th>
    </tr>
    </thead>
    {% for app in participant_list %}
        <tr>
        	<td>{{ forloop.counter }}</td>
            <td>{{app.get_title_display}}</td>
            <td>{{app.first_name}}</td>
            <td>{{app.last_name}}</td>
            <td>{{app.email}}</td>
            <td>{{app.institution}}</td>
            <td>{{app.sup_name}}</td>
            <td>
                {% if app.undergrad %}Undergrad
                    {% if app.masters or app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.masters %}MSc
                    {% if app.phd or app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.phd %}PhD
                    {% if app.postdoc or app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.postdoc %}Postdoc
                    {% if app.faculty or app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.faculty %}Faculty
                    {% if app.staff or app.other %}/{% endif %}
                {% endif %}
                {% if app.staff %}Staff
                    {% if app.other %}/{% endif %}
                {% endif %}
                {% if app.other %}Other ({{app.other_text}}){% endif %}
            </td>
            <td>{% if app.talk %}<a style="text-align: center; display:block;">&#10004;</a>{% endif %}</td>
            <td>{% if app.poster %}<a style="text-align: center; display:block;">&#10004;</a>{% endif %}</td>
            {% if app.abstract_provided %}<td><a style="display:block; text-align: center;" href="{% app_reverse 'registration_abstract_list' 'application_form.registration_urls' %}#{{app.first_name}}-{{app.last_name}}">View</a></td>{% else %}
            <td></td>{% endif %}
	    <td>{% if app.mixer %}<a style="text-align: center; display: block;">&#10004;</a>{% endif %}</td>
            <td>{{app.diet}}</td>
            <td>{{app.headline}}</td>
        </tr>
    {% endfor %}
</table>
</div>
