<form class="application" action="" method='POST' accept-charset="ASCII,UTF-8,ISO-8859-1">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<p>The deadline for registration is May 1, 2015, but early registration is encouraged.</p>

<b>Required fields are marked by <span class="req">*</span>.</b>

<h2>Personal Information</h2>
	<p class="name">
	    <label class="desc label-sm" for="title">Title<span class="req"> *</span></label>
	    <label class="desc label-half" style="text-align:left" for="title">Given Name<span class="req"> *</span></label>
	    <label class="desc label-half" for="title">Surname<span class="req"> *</span></label><br>
	    {{ form.title }}
	    {{ form.first_name }}
	    {{ form.last_name }}
	</p><p>
	    <label class="desc" for="email">Email<span class="req"> *</span> </label><br>
	    {{ form.email }}
	</p><p>
	    <label class="desc" for="phone">Phone Number</label><br>
	    {{ form.phone }}
	</p><p>
	    <label class="desc" id="institution" for="institution">Institution<span class="req"> *</span></label><br>
	    {{ form.institution }}
	</p><p class="complex">
	    <label class="desc" id="addr1" for="addr1">Mailing Address<span class="req"> *</span></label><br>
	    <label class="subdesc" for="addr1">Street Address</label><br>
	    {{ form.addr1 }}
	    <label class="subdesc" for="addr2">Address Line 2 (if needed)</label><br>
	    {{ form.addr2 }}
	    <nobr>
	        <label class="subdesc" style="width: 338px !important" for="city">City</label>
	        <label class="subdesc" style="width: 338px !important" for="state">State / Province / Region</label>
	    </nobr><br><br>
	        {{ form.city }}
	        {{ form.state }}
	 	<div class="clear"></div>
	    <nobr>
	        <label class="subdesc" style="width: 338px !important" for="code">Postal Code / Zip Code</label>
	        <label class="subdesc" style="width: 338px !important" for="country">Country</label>
	    </nobr><br><nobr>
	        {{ form.code }}
	        {{ form.country }}
	    </nobr><br>
	</p><p>
	    <label class="desc" id="status" for="undergrad">Please choose the appropriate box:<span class="req"> *</span></label><br>
	    {{ form.undergrad }}<label class="choice" for="undergrad">Undergraduate Student</label><br>
	    {{ form.masters }}<label class="choice" for="masters">Masters Student</label><br>
	    {{ form.phd }}<label class="choice" for="phd">Ph.D. Student</label><br>
	    {{ form.postdoc }}<label class="choice" for="postdoc">Postdoctoral Fellow</label><br>
	    {{ form.faculty }}<label class="choice" for="faculty">Faculty</label><br>
	    {{ form.staff }}<label class="choice" for="staff">Research Staff</label><br>
	    {{ form.other }}<label class="choice" for="other">Other, please specify:</label>
	    {{ form.other_text }}
	</p>
	<div class="clear"></div>
	<p>
	    <label class="desc" for="diet">Please outline any special dietary needs or concerns you may have:</label><br>
	    {{ form.diet }}
	</p>
	<p>
	    <label class="desc" for="mixer">Do you plan to attend the mixer on the evening of May 6?</label><br>
	    {{ form.mixer }}
	</p>

<h2>If you are a student, provide contact information for your supervisor:</h2>
	<p>
	    <label class="desc" for="sup_name">Supervisor's Name</label><br>
	    {{ form.sup_name }}
	</p><p>
	    <label class="desc" for="sup_email">Supervisor's Email</label><br>
	    {{ form.sup_email }}
	</p>

<h2>Abstract Submission</h2>
	<p>
		<label class="desc" for="type">If you would like to present your work at this year's meeting, please select your preferred method(s):</label><br>
	    {{ form.talk }}<label class="choice" for="talk">Give a 15 minute oral presentation</label><br>
	    {{ form.poster }}<label class="choice" for="poster">Participate in a poster session</label><br>
	</p><p>
	    <label class="desc" for="headline">Presentation Title</label><br>
	    {{ form.headline }}
	</p><p>	
	    <label class="desc" for="authors">Authors</label><br>
	    {{ form.authors }}<br>
	    <label class="subdesc">eg. John Smith [1], Joanne Wilson [2]</label><br>
	</p><p>
	    <label class="desc" for="affiliations">Author Affiliations</label><br>
	    {{ form.affiliations }}<br>
	    <label class="subdesc" style="width:100%">eg. [1] University of Saskatchewan; [2] University of Manitoba</label><br>
	</p><p>
	    <label class="desc" for="abstract">Please include a short abstract for your presentation or poster. (Maximum 250 words)</label><br>
	    {{ form.abstract }}
	</p>

<h2>Complete Registration</h2>
	<p>
		Before completing your registration, please type the characters you see in the box.<br>
		{{ form.captcha }}
	</p><p>
		<input type='submit' value='Register' tabindex="30" />
	</p>

</form>

