{% for title, apps in present.items %}
<h2>{{title}} Presentations:</h2>
<div id="schedule">
  <ul style="list-style: none;">
    {% for app in apps %}
      <li style="border-bottom: 1px solid #dddddd;"><a name="{{app.first_name}}-{{app.last_name}}"></a>
        <h4>{% ifequal title 'Poster' %}P{% else %}T{% endifequal %}{{forloop.counter}}. {% if app.headline %}{{app.headline}}{% else %}{{app.authors}}{% endif %}</h4>
        {% if app.headline %}<p><strong>{{app.authors}}</strong></p>{% endif %}
        <p><em>Presented by {{app.get_title_display}} {{app.first_name}} {{app.last_name}}, {{app.institution}}</em></p>
        <p>{{app.abstract}}</p>
        <a style="float:right; clear: both;" href='{% url participant_list %}'>Back to list of registrants</a><br>
      </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}