{% extends "wp-root.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block "page-content" %}
<div id="headline">
	<div class="wrapper">
		<h2>{{ feincms_page.title }}</h2>
	</div>
</div>

<div id="pagebody">
    <div id="bodyContent" class="wrapper">
       	<div id="schedule" class="col-9">
            {% feincms_render_region feincms_page "col1" request %}        
        </div>
    
        <div id="sidebar" class="calendar col-3">
            {% feincms_render_region feincms_page "col3" request %}
	        <!-- include this div in the right position of your page -->
	        <div id="datepicker"></div>
            <h2><span>Colour Legend</span></h2>
            <table class="legend">
                <tr><td class="NormalMode">User Beamtime</td></tr>
                <tr><td class="Maintenance">Maintenance</td></tr>
                <tr><td class="Development">Development/Commissioning</td></tr>
                <tr><td class="Shutdown">Shutdown</td></tr>
                <tr><td class="Special">Special Beam Requests</td></tr>
                <tr><td>TBA</td></tr>
            </table>
            {% feincms_render_region feincms_page "col2" request %}        
	    </div>
    </div>
</div>

<!--<br class="clear">-->
{% endblock %}

{% block extra-header %}
	<link href="/media/css/datepicker.css" rel="stylesheet" type="text/css">

  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
    <script src="/media/js/jquery-ui.min.js" type="text/javascript"></script>
  	  
  	<script type="text/javascript">
  		$(document).ready(function() {
    			$("#datepicker").datepicker({
      				showWeek: true,
      				currentText: "Today",
      				dateFormat: "yy-mm-dd", /* Choose appropriate date format for path */
      				onSelect: function(dateText,inst){
        			/* replace "/schedule/" with appropriate path */
        			window.location['pathname'] = '/schedule/' + dateText + '/';
      				}
    			});
  		});
  	</script>
{% endblock %}
