{% extends "wp-root.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block "page-content" %}
<div id="home-welcome">
	<div class="wrapper">
		<div class="col-7">
    {% feincms_render_region feincms_page "welcome" request %}
		</div>

		<div class="col-5">				
		<p class="intro"> Located at the Canadian Light Source, two CMCF beamlines enable high-resolution structural studies of proteins, nucleic acids and other macromolecules, satisfying the requirements of the most challenging and diverse crystallographic experiments. </p>
		<div class="announcements">
    {% feincms_render_region feincms_page "sidebar" request %}
		</div>
		</div>
	</div>
</div>	



<div id="home-below">
	<div id="bodyContent" class="wrapper">
		<div class="col-3">
        {% feincms_render_region feincms_page "col1" request %}
		</div>

		<div class="col-4 quicklinks">
        {% feincms_render_region feincms_page "col2" request %}
		</div>
		
		<div class="col-5">
        {% feincms_render_region feincms_page "col3" request %}
		</div>
	</div>
</div>

{% endblock %}

{% block extra-header %}
        <link rel="stylesheet" type="text/css" href="/media/css/coda-slider-2.0.css" />

	<script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/media/js/jquery.coda-slider-2.0.js"></script>
	<script type="text/javascript">
		$().ready(function() {
			$('#coda-slider-1').codaSlider({
			    autoSlide: true,
			    autoSlideInterval: 8000,
			    autoSlideStopWhenClicked: true,
			    dynamicArrows: false,
			    autoHeight: false,
			    panelTitleSelector: "",
			    dynamicTabsAlign: "right",
	            dynamicTabsPosition: "bottom"
			});
		});
	 </script>

{% endblock %}

