/* NuvoWeb */
@font-face {
  font-family: NuvoWeb-Medi;
  src: url(/media/fnt/NuvoWeb-Medi.eot);
}
@font-face {
  font-family: NuvoWeb-Medi;
  src: url(/media/fnt/NuvoWeb-Medi.woff) format('woff');
}

/* Graublau-Web */
@font-face {
    font-family: "graublau-web";
    src: url(/media/fnt/GraublauWeb.otf) format("opentype");
}
@font-face {
    font-family: "graublau-web";
    src: url(/media/fnt/GraublauWebBold.otf) format("opentype");
    font-weight: bold;
}

/* Gentium */
@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBasR-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBasR-webfont.woff') format('woff'), url('/media/fnt/GenBasR-webfont.ttf') format('truetype'), url('/media/fnt/GenBasR-webfont.svg#webfont83Gk0EqE') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBasI-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBasI-webfont.woff') format('woff'), url('/media/fnt/GenBasI-webfont.ttf') format('truetype'), url('/media/fnt/GenBasI-webfont.svg#webfontY1vE4adJ') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBasB-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBasB-webfont.woff') format('woff'), url('/media/fnt/GenBasB-webfont.ttf') format('truetype'), url('/media/fnt/GenBasB-webfont.svg#webfont9GWbRghj') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBasBI-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBasBI-webfont.woff') format('woff'), url('/media/fnt/GenBasBI-webfont.ttf') format('truetype'), url('/media/fnt/GenBasBI-webfont.svg#webfontxFZtZk8k') format('svg');
	font-weight: bold;
	font-style: italic;
}
/*
@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBkBasR-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBkBasR-webfont.woff') format('woff'), url('/media/fnt/GenBkBasR-webfont.ttf') format('truetype'), url('/media/fnt/GenBkBasR-webfont.svg#webfontOawVVQSm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBkBasI-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBkBasI-webfont.woff') format('woff'), url('/media/fnt/GenBkBasI-webfont.ttf') format('truetype'), url('/media/fnt/GenBkBasI-webfont.svg#webfontIR41rMy5') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBkBasB-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBkBasB-webfont.woff') format('woff'), url('/media/fnt/GenBkBasB-webfont.ttf') format('truetype'), url('/media/fnt/GenBkBasB-webfont.svg#webfonttS5RtN7j') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "gentium";
	src: url('/media/fnt/GenBkBasBI-webfont.eot');
	src: local('☺'), url('/media/fnt/GenBkBasBI-webfont.woff') format('woff'), url('/media/fnt/GenBkBasBI-webfont.ttf') format('truetype'), url('/media/fnt/GenBkBasBI-webfont.svg#webfontiSviAAwr') format('svg');
	font-weight: bold;
	font-style: italic;
}
*/



