.wrapper {
	width: 980px;
}

#home-below h4 {
	font-size: 12px !important;
}

.col-3 .download-button {
	height: 35px !important;
}

#header .logo ul {
    margin-top: 34px;
}

#header ul li a {
	padding: 0 9px;
}

#head-search {
	height: 30px;
}

#header ul li:hover .nav-submenu, #header ul li .nav-submenu:hover  {
	top:-2px;
}
#toTop { 
    background-image: url(/media/img/BackToTop_blue_fade_ie.png)
}
#toTop:hover {
    background-image: url(/media/img/BackToTop_blue_ie.png);
}

