.wcsb #header .banner {
	background: url("/media/img/wcsbbanner.png") no-repeat scroll right top transparent;
}
.wcsb #header {
	background: url("/media/img/header_bg_wcsb.png") repeat-x scroll left top #DCDCDC;
	width: 960px;
}
.wcsb .logo {
	background: url("/media/img/wcsblogo.png") no-repeat scroll left top transparent !important;
}
body.wcsb {
	font-size: 15px !important;
}
.wcsb h2 sup {
	line-height: 11px;
	font-size: 60%;
}
.wcsb #main-wrapper {
	background: url("/media/img/wcsb-bg.png") repeat-y scroll left top;
	width: 992px;
	margin: 0px auto;
	padding-left: 12px;
}
.wcsb #headline {
	width: 960px;
}
.wcsb #headline h2 {
	padding-left: 16px;	
}
.wcsb #bodyContent {
	width: 875px;
	padding: 15px 18px;	
}
.wcsb #bodyContent h2 {
	margin-bottom: 10px;
}
.wcsb pre {
	font-size: 16px;
	text-align: center;
	color: #00289E;
	font-family: "Open Sans", serif !important;
}