@import "/media/css/docs.css";

/* The Reset ---------------------------------- */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h7
h6,pre,form,fieldset,input,p,blockquote,table,
th,td { margin: 0; padding: 0; }
fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,h1,h2,h3,
h4,h5,h6,h7,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none;}
html * {
	text-align: left ;
}
html {
    overflow-y: scroll;
	height: 100%;
}


body {
	font-size: 13px;
	background: #fff;
    font-family: "Open Sans", serif;
	line-height: 1.4em;
	color: #333;
	height: 100%;
}
/* -------------------------------------------- */

code, pre { font-family: "Courier New", Courier, monospace; }

pre {
	background: #f5f5f5;
	border: 1px solid #dadada;
	padding: 11px;
	font-size: 85%;
	line-height: 1.3em;
	overflow: auto;
}

code, pre {
  color: #000;
  background: #F0F0F0;
}

pre a { font-weight: normal; }

a { color: #21759b; text-decoration: none; font-weight: normal; }

a:visited {
/*    color:#4ca6cf;*/
    color: #21759b;
}

/*p a { border-bottom: 1px solid #dfdfdf; }*/

h3 a { font-weight: bold; }

.button a, .button a:hover, #headline a:not(.button), #headline a:not(.button):hover, #sidebar a, #sidebar a:hover, .frontpageheatmap a, .frontpageheatmap a:hover, .col-3 a, .col-3 a:hover { border: none !important; }

#headline a.button { display: inline-block; }

/*p a:hover { border-bottom: 1px solid #d54e21; }*/

a:hover { color: #d54e21; }

h2, h2.titlelink {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-weight: normal;
	font-size: 22px;
}

h2 a {
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em, cite {
	font-style: italic;
}

sup {
	line-height: 1em;
	font-size: 80%;
}

.calendar {
	width: 100%;
	}

.wrapper {
	width: 960px;
	margin: 0 auto;
	clear: both;
}
div#header-print {
    display: none;
}

#header {
	height: 88px;
	min-width: 960px;
	background: #dcdcdc url(/media/img/header_bg_2.png) top left repeat-x;
    /*background: -moz-linear-gradient( top, #6666cc, #999999)*/

}
#header.wiki{
	background: #dcdcdc url(/media/img/header_blue.png) top right repeat-x;
}
#header.aca{
	background: #dcdcdc url(/media/img/header_grey.png) top right repeat-x;
}
#header .logo {
	width: 960px;
	margin: 0 auto;
	clear: both;
	background: url(/media/img/clslogo_white.png) top left no-repeat;
    height: 88px;    
}
#header .aca-logo {
	width: 960px;
	margin: 0 auto;
	clear: both;
	background: url(/media/img/candivlogo_scale.png) top left no-repeat;
	height: 88px;
}
#header.wiki .logo {
    background: url(/media/img/clslogo_3.png) top left no-repeat;
}
#header .banner {
	width: 960px;
	margin: 0 auto;
	clear: both;
	background: url(/media/img/cmcfbanner.png) top right no-repeat;
    height: 88px;    
}
#header h1, #header h3 {
   padding: 15px 0px 0px 115px !important;
   font: 28px  "NuvoWeb-Medi", "graublau-web", sans-serif;
   background-color: transparent;
/*   padding-left: 115px;*/
   font-weight: bold;
   text-shadow: 0 1px 3px #000;
   line-height: 27px;
   color: #f7f7f7;

}/*
#header h3 {
    font-size: 18px;
    line-height: 20px;
}*/
h1 {
   padding: 10px 0px 0px 0px;
   font: 22px  "Yanone Kaffeesatz", sans-serif;
   background-color: transparent;
   padding-left: 0px;
   text-shadow: 0 1px 0 #eee;
   line-height: 24px;
}
#header h2 {
   font: 16px  "Yanone Kaffeesatz", sans-serif;
   background-color: transparent;
   font-style: italic;
   padding-left: 115px;
   text-shadow: 0 1px 0 #eee;
   line-height: 20px;
}

#header ul {
	margin-right: 14px;
	float: right;
	list-style: none;
    margin-top: 58px;
}

#header ul li {
	float: left;
	position:relative;
}

#header ul li a {
	font-family:  'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
	display: block;
	line-height: 30px;
	padding: 0 0.75em;
	font-size: 20px;
	color: #f7f7f7;
}

#header ul li a:hover {
	color: #ffc300 !important;
	text-shadow: #ffc300 0px 0px 1px;
}
#header ul li a.current:hover, #header ul li a.current + ul li a:hover {
	color: #d54e21 !important;
	text-shadow: #d54e21 0px 0px 1px;
}
#header ul li a.current, #header ul li#download a.current {
	color: #555;
	background: #f7f7f7;
	border: 1px solid #f7f7f7;
	border-bottom:none;
	margin-top:-1px;
	-moz-border-radius-topright: 5px;
	-khtml-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: #bfbfbf 1px 1px 2px;
}

#header ul li#download a {
	color: #fff;
	-moz-border-radius-topleft: 3px;
	-khtml-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-khtml-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	text-shadow: #b5421c 1px 1px 2px;
}

#header ul li#download a:hover {
	color: #ffac90;
}

#header ul li#download a.current:hover {
	color: #555;
}

#header .nav-submenu {
	display:none;
	min-width: 198px;
	-moz-border-radius-bottomright: 3px;
	-khtml-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-khtml-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;	
	background: #999;
	margin-top: -4px;
	border: #555 solid 1px;
	border-top:0;
	text-shadow:none;
}

#header ul li:hover .nav-submenu, #header ul li .nav-submenu:hover  {
	display:block;
	position:absolute;
	top:34px;
	left:0;
	z-index:1;
	text-shadow: #555 0px 0px 1px;
}

#header ul li a.current + .nav-submenu {
	background: #f6f6f7;
	border: #c6c6c6 solid 1px;
	border-top:0;
}

#header ul li a.current + .nav-submenu a {
	color: #555555;
	text-shadow: none;
}

#header ul li .nav-submenu li {
	float:none;
}

#header ul li ul.nav-submenu li a{
    line-height: 28px;
    font-weight: normal;
    font-size: 19px;
}

 /*
p.intro a {
	font-weight: normal;
}
*/

.submit input, .button, .button-primary, .button-secondary, input[type=button], input[type=submit] {
	font: normal 11px/16px "Open Sans", sans-serif;
	text-decoration: none;
	padding: 2px 8px !important;
	cursor: pointer;
	border: 1px solid #bbb;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	color: #464646;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

form#inline-form input[type="text"].date {
	max-width: 210px !important;
	background-color: #f5f5f5;
}

form.dates .form-body {
	min-height: 0px;
}

form.dates ul.form-body {
	margin-bottom: 0px !important;
}

.button a {
	font-weight: normal !important;
}

.submit input:hover, .button:hover, .button-secondary:hover, input[type=button]:hover, input[type=submit]:hover {
	color: #000;
	border-color: #666;
}

.submit input, .button, .button-secondary, input[type=button], input[type=submit] {
	background: #f2f2f2 url(/media/img/white-grad.png) repeat-x scroll left top;
}

.submit input:active, .button:active, .button-secondary:active, input[type=button]:active, input[type=submit]:active {
	background: #eee url(/media/img/white-grad.png) repeat-x scroll left bottom;
}

.button-primary {
	border-color: #298cba !important;



	font-weight: bold;
	color: #FFF !important;
	background: #21759B url(images/button-grad.png) repeat-x scroll left top;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

.button-primary:hover {
	border-color: #13455b !important;
	color: #EAF2FA !important;
}

.button-primary:active {
	background: #21759b url(images/button-grad.png) repeat-x scroll left bottom !important;
}

a.download-button:hover {
	border-color: #13455b !important;
	color: #EAF2FA !important;
}

a.download-button:active {
	background: #21759b url(images/button-grad.png) repeat-x scroll left bottom !important;
}

.download-meta {
	text-align: center !important;
	font-size: 11px;
	margin-bottom: 0 !important;
}


/* */


.col-3 p {
	margin-bottom: 22px;
}


a.download-button {
	font-size: 13px;
	line-height: 1.4em;
}

.download-tar {
	font-size: 10px;
	text-align: center;
	margin-bottom: 14px !important;
}



.news-post .image img, .news-post .image-odd img{
    max-height: 200px;
    max-width: 300px;
}
.news-post .image{
    float: left;
    padding-right: 10px;
}
.news-post .image-odd{
    float: right;
    padding-left: 10px;
}
.news-post {
/*    min-height: 200px;*/
}
.news-post div {
    /*min-height: 155px;*/
}
p.link {
    margin: 10px 0 0 0 !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
	margin: 0 14px;
}

.col-1 { width: 52px; }
.col-2 { width: 132px; }
.col-3 { width: 212px; }
.col-4 { width: 292px; }
.col-5 { width: 372px; }
.col-6 { width: 452px; }
.col-7 { width: 532px; }
.col-8 { width: 612px; }
.col-9 { width: 692px; }
.col-10 { width: 772px; }
.col-11 { width: 852px; }
.col-12 { width: 932px; }

#announcements {
	background: #f7f7f7;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #fff;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 18px;
	padding: 0.4em 0;
	text-align: center;
}
#announcements p, .announcements ul li {
 	text-align: center;
}
#announcements ul {
    margin: 0 auto;
    display: table;
    list-style: none;
	padding: 0;
}

#announcements li {
 	text-align: center;
	display: block;
	max-width: 170px;
	padding: 0 0.5em;
	float: left;
}

#announcements li + li {
	border-left: 1px solid #ccc;
}

#toTop, #toTop a { 
    min-width: 42px;
    min-height: 42px;
    position:fixed;
    display: scroll;
    bottom:10px;
    right:10px;
    cursor:pointer;
    background-image: url(/media/img/to_top_fade.png)
}
#toTop.wiki, #toTop a.wiki {
    background-image: url(/media/img/to_top_fade.png)
}
#toTop:hover, #toTop a:hover {
    background-image: url(/media/img/to_top.png);
}
#toTop.wiki:hover, #toTop a.wiki:hover {
    background-image: url(/media/img/to_top.png)
}
.quicklinks {
	background: #eaeaf7;
  	margin-bottom: 0px;
	overflow: auto;
	float: left;
	padding: 1em;
	margin-top: 10px;
}
#home-welcome {
	background: #f7f7f7;
	min-width: 960px;
	border-bottom: 1px solid #dfdfdf;
	padding: 1em 0;
}
#home-welcome div.quicklinks {
    color: #444;
    padding: 0.5em 1.5em 1.5em;
}

#home-welcome .col-7 {
	border-right: 1px solid #dfdfdf;
	width: 531px;
}

#home-welcome .col-5 {
	width: 370px;
}

#home-below {
	width: 960px;
	margin: 0 auto;
}
#home-below .col-3, #home-below .col-6, #home-below .col-2, #home-below .col-4, #home-below .col-5 {
	margin: 0.5em 0 0 0 !important;
    padding: 13px;
}

#home-below .col-6 {
    background: transparent;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 200px;
}

#home-below .quicklinks {
    background: transparent;
}


#home-below .image img {
	border: 1px solid #dadada;
    max-height: 62px;
    float: left;
    margin-right: 5px;
}
#home-below .image-odd img {
	border: 1px solid #dadada;
    max-height: 62px;
    float: right;
    margin-left: 5px;
}
#home-below .wrapper {
	float: left;
	margin-bottom: 14px;
}

#home-below span a {
    font-weight: normal;
/*    font-variant: small-caps !important;*/
}
.quicklinks h2, #home-below .quicklinks h2, #home-below h2 {
	line-height: 120%;
    margin-bottom: 0.5em;
    margin-top: 0;
    color: #666;
    font-weight: normal;
    border-bottom: none;
    font-size: 26px;
}

#home-welcome .quicklinks h2 {
	background: transparent url(/media/img/howto.png) no-repeat left center;
	margin-bottom: 0.25em;
	padding: 0.25em 34px;
}

#home-below .quicklinks h2 {
	background: transparent url(/media/img/quicklink.png) no-repeat left center;
	padding-left: 34px;
}

#home-below .news-list h2 {
	background: transparent url(/media/img/news.png) no-repeat left center;
	padding-left: 34px;
}

#home-below .pub-list h2 {
	background: transparent url(/media/img/pub-list.png) no-repeat left center;
	padding-left: 32px;
}

#home-welcome .quicklinks h2 {
    border-bottom: 1px solid #ccc;
}

.quicklinks ol li {
    font-size: 100%;
    margin-left: 48px;
}
.quicklinks ul li {
    font-size: 100%;
    margin-left: 18px;
}

.quicklinks ul {
    list-style: disc;
    list-style-image: url(/media/img/bullet-right.png);
    margin-bottom: 0px;
}

.smallcaps {
    font-variant: small-caps !important;
}
h3 {
	font-size: 14px;
	color: #333;
	font-weight:bold;
	margin: -1px 0 1px 0;
}

h4, h3.head {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 4px;
	color: #333;
	margin-bottom: 11px;
	/*margin-top: -20px;*/
}
h3.subtitle .category {
	font-variant: small-caps !important;
}
h5 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 12px;
}
#headline {
	height: 61px;
	min-width: 960px;
	background: #f7f7f7;
	border-bottom: 1px solid #dfdfdf;
}

#headline h2 {
	color: #555;
	font-size: 30px;
    font-family:  'Yanone Kaffeesatz', sans-serif;
	text-shadow: #fff 0px 1px 0px, #aaa 0px 0px 1px;
    font-weight: normal;
	padding: 16px 10px;
    line-height: 1em;
	float: left;
}
#headline h2 span{
	color: #888;
}

#pagebody ul {
	margin-left: 16px;
    list-style-image: url(/media/img/bullet-right.png);
    margin-top: 0px;
    margin-bottom: 0px;
}

#pagebody ul ul {
    list-style-image: url(/media/img/bullet-sub.png);
}

#pagebody ul ol {
    list-style-image: url(/media/img/bullet-sub.png);
}

#pagebody .submenu, #pagebody #submenu, #pagebody ul.submenu {
	margin-left: 0;
	margin-top: 20px;
    list-style-image: none;
	list-style: none;
}

#pagebody .submenu a#subcurrent, #pagebody #submenu a#subcurrent {
	color: #333;
	cursor: default;
}

p.person {
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
	margin-bottom: 11px;
}

#pagebody .submenu li {
	border-bottom: 1px solid #dedede;
/*	font-size: 14px;*/
	padding: 3px 0;
}
#pagebody .submenu li.subsubmenu+li {
	border-top: 1px solid #dedede;
}
#pagebody .submenu li.subsubmenu+li.subsubmenu {
	border-top: none;
}
#pagebody .submenu li.subsubmenu {
	border-bottom: none;
/*	font-size: 13px;*/
	padding: 2px 16px;
}
#pagebody .submenu li.current a{
	color: #00171F;
	font-style: italic;
}
#pagebody .submenu span.open {
	background: url(/media/img/arrow_down.png) center right no-repeat;
	padding-right: 14px;
}	
#pagebody .submenu span.closed {
	background: url(/media/img/arrow.png) center right no-repeat;
	padding-right: 10px;
}

#pagebody p, #pagebody ol{
	margin: 0 0 22px 0;
}

#pagebody #thumb-gallery {
    margin-left: 0;
}
#pagebody ol {
	margin-left: 22px;
	list-style: roman;
}

#pagebody p.intro {
	color: #555;
	font-size: 15px;
	margin-top: -1px;
	margin-bottom: 23px;
}

#pagebody p.intro a {
	font-weight: normal;
}

#pagebody .wrapper {
/*	padding-left: 25px;*/
}

#pagebody h1 {
	padding-bottom: 10px;
	margin-top: -20px;
}

#pagebody h4 {
	padding-bottom: 0px;
	border-bottom: none !important;
	font-weight: bold;
	margin-bottom: 18px;
	margin-top: 18px;
}
#pagebody h3 {
	border-bottom: none !important;
	margin-top: 0.25em;
	margin-bottom: 0;
}
#pagebody img {
    max-width: 692px;
}
#pagebody img.ctr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feed {
	background: url(/media/img/feedicon10.png) center left no-repeat;
	padding-left: 14px;
}

.push {
	clear: both;
	height: 100px;
}

#footer {
    clear: both;
    background: none repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #DFDFDF;
    height: 99px;
    margin-top: -100px;
    position: relative;
}

#main-wrapper {
    height: auto !important;
    margin: 0;
    min-height: 100%;
}

#footer p {
	color: #bbb;
	padding-top: 1em;
    margin-left: 10px;
}

#footer p a {
	border: none;
}

#footer h6 {
	float: right;
}

#footer h6 {
	width: 133px;
	height: 9px;
	text-indent: -9999px;
	margin-top: 6px;
}

blockquote {
	background: #f5f5f5;
	border: 1px solid #dadada;
	padding: 22px 22px 0;
	margin-bottom: 22px;
}
.submit {
	border-top: 1px solid #ccc;
	padding: 1.5em 0 0 0;
	margin: 10px 0 0 0;
	-moz-border-radius-bottomleft: 3px;
	-khtml-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-khtml-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.form-table, form#profile-form table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
	color: #333;
}

.form-table td, form#profile-form table td {
	margin-bottom: 9px;
	padding: 10px;
	line-height: 20px;
	border-bottom-width: 8px;
	border-bottom-style: solid;

}

.form-table th, form#profile-form table th {
	text-align: left;
	padding: 10px;
	width: 150px;
	font-weight: bold;
	border-bottom-width: 8px;
	border-bottom-style: solid;
}

.form-table input, .form-table textarea,
form#profile-form table input, form#profile-form textarea {
	border: 1px solid #d1e5f6;
	border-top-color: #b0c1cf;
	border-left-color: #b0c1cf;
}

.form-table textarea, form#profile-form table textarea {
	width: 520px !important;
	font-size: 13px;
	line-height: 1.5em;
}

.error {
	background-color: #ffebe8;
	border-color: #c00;
}

.error a {
	color: #c00;
}

.form-invalid {
	background-color: #ffebe8 !important;
}

.form-invalid input {
	border-color: #c00 !important;
}

.form-table td, .form-table th,
form#profile-form table td, form#profile-form table th {
	border-bottom-color: #fff;
}

.form-input-tip {
	color: #999;
}

.form-table tr, form#profile-form table tr {
	background-color: #eaf3fa;
}

#sitesearch {
	margin-top: 10px;
	margin-bottom: 22px;
	font-size: 10px;
}

#sitesearch #sitesearchbox {
	width: 45%;
	padding: 3px;
	font-size: 18px;
}

#sitesearch p { margin-top: 4px; }

#sitesearch label { margin-right: 6px;}

#sitesearch .text {
	height: 24px;
}

#sitesearch .button {
	font-size: 16px;
	margin-left: 4px;
	height: 32px;
	padding: 0 6px;
}

ol.searchresults {
	margin-top: 22px !important;
	padding-left: 4px;
}

div.special { margin-top: 22px; }

.searchresults h4, .special h4 {
	margin-bottom: 4px;
}
.searchresults .source, .special .source {
	float: right;
	font-size: 10px;
	font-style: italic;
	font-family: 'NuvoWeb-Medi', "Lucida Sans";
	color: #888;
	font-weight: normal;
}

.col-10 .col-5 {
	margin: 0;
	width: 352px;
	padding-right: 20px;
}

.col-10 .col-10 {
	margin: 24px 0 0;
	clear: both;
}

.col-10 .col-8, .col-10 .col-7 {
	margin: 0;
}

.col-10 .col-5 table td {
	line-height: 1.5em;
	padding: 10px 0;
	border-bottom: 1px solid #dadada;
}

.more {
	font-size: 90%;
}

.column-list {
	font-size: 10px;
	line-height: 1.5em;
}

.column-list li {
	padding-bottom: 4px;
}

.meta {
	font-size: 11px;
	color: #777;
	margin-bottom: 10px;
}

.meta a { 
	color: #777;
	border-bottom: 1px solid #dfdfdf;
}

.meta a:hover { color: #d54e21; border-bottom-color: #d54e21; }

hr { border: none; border-top: 1px solid #dfdfdf; }

.contacts img { 
    float: right; 
    height: 100px;
    padding: 5px;
    margin: 0;
}
.contacts ul li a { font-weight: bold;
    }
.contacts ul { padding: 5px }
.contacts ul li{list-style: none; 
}


/******* Schedule Table Styling ********/
#schedule .beamline, div.schedule .beamline {
	width: 25%;
	}
#schedule .date, .oncall, div.schedule .date {
	width: 7em;
	}
#schedule a.current, div.schedule a.current {
	margin: 0 0 0 230px;
    float: left;
	}
#schedule a.prev img {
	float: left;
	}
#schedule a.next img {
	float: right;
	}			
#schedule table, div.schedule table {
	width:100%;
	border-top:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
	margin-bottom: 1em;
	border-collapse:collapse;
    empty-cells: show;
	}
	
div#txt {
	background-color: #f7f7f7;
	text-align: center;
	border: 1px solid #ddd;
	margin-left: 3px;
	width: 206px;
	padding: 2px;
	margin-bottom: 11px;
}
.row1 th	{
	background: #DCDCDC;
	}
.column1	{
	background:#ebebeb;
    text-align: center !important;
	}
.row-odd    {
    background: #f7f7f7;
}
.row-even   {
    background: #fff;
}
#schedule tbody td, div.schedule tbody td {
    border-bottom:1px solid #B5b5b5;
	border-left:1px solid #B5b5b5;
    padding: .3em .8em;
}
#schedule th, div.schedule th {
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid #B5b5b5;
	border-left:1px solid #B5b5b5;
	padding:.3em .75em;
	}	
#schedule th.emph, div.schedule th.emph, #schedule tbody td.emph, div.schedule tbody td.emph {
	border-bottom: 1px solid #888;
}
thead th {
	background:#dcdcdc;
	border-bottom:1px solid #B5b5b5;
	border-left:1px solid #B5b5b5;
	text-align:center;
	}	
table#objlist-list-table thead th {
	border-left: none;
}
.object-list td {
	text-align: left !important;
	white-space: normal !important;
}
div.object-list th.sorted
{
	padding-right: 10px;
	/*background-color:#fff!important;*/
}

div.object-list th.ascending a, div.object-list th.ascending
{
	background:url(/media/img/arrow-down.png) right 50% no-repeat;
}

div.object-list th.descending a, div.object-list th.descending
{
	background:url(/media/img/arrow-up.png) right 50% no-repeat;
}
.clickable-header {
	color: #2f637a;
	cursor: pointer;
	white-space: nowrap;
}

.Shutdown, .X{
    background: #fff2c2;
	}
.Maintenance, .M{
    background: #d8e0f3;
	}
.Development, .D, .DS, .DS-CSR{
    background: #ffddd1;
	}
.NormalMode, .N{
    background: #d6f0d6;
	}
.Special, .NS, .SB, .Si {
    background: #e9d1ff;
	}
	
.FacilityRepair {
	background-image: url(/media/img/repair-pat.png) !important;
}
	
.oncall {
    background: #d6e0d6;
    text-align: center !important;
}

.today {
	background-image: url(/media/img/today-pat.png);
}
span.now {
    margin-top: 5px; 
    margin-right: -10px;
	padding-right: 10px;
    background: url(/media/img/stock_right2.png) no-repeat center;
}
.modal-form {color: black; cursor: pointer;}
.admin {color: #666; }
.inactive {color: #cc3300; }
.modal-form:hover, .modal-form:hover text.admin {color: #1a6600;}

.delete-tool, a.add-tool, a.edit-tool, .update-tool {width: 16px; display: none;}
.delete-tool, .update-tool {
	width: 16px; 
	display: none; 
	background: url(/media/img/delete-icon-blue.png) no-repeat; 
	float: right; 
	z-index: 999;
	margin-right: -18px;
}
.update-tool {
	background: url(/media/img/update-icon.png) no-repeat;
	margin-right: 0px; 
}
td.oncall .delete-tool {margin-right: 0px;}
td.del {
	padding-right: 23px !important;
}
td:hover .delete-tool, td .update-tool {
	display: inline;
}
#schedule td.td-time, #schedule td.column1 {
	width: 15%;
}
#schedule td.td-time {
	padding: 0.3em 0.4em;
}
td.td-time.update {
	padding-left: 5 !important;
	padding-right: 0 !important;
}
.mail-icon, .remote-icon, .notify-icon, .notify-done-icon {
	float: left; 
	padding:7px 12px; 
	margin-top:1px; 
	margin-right: 5px; 
}
.delete-tool:hover {background: url(/media/img/delete-icon.png) no-repeat;}
.remote-icon {background: url(/media/img/remote-icon.png) no-repeat;}
.mail-icon {background: url(/media/img/mail-icon.png) no-repeat;}
.beam-main {background-image: url(/media/img/maintenance-pat.png);}
.notify-icon, .notify-done-icon {
	padding: 7px 10px;
	margin-left: -10px;
	left: -10px;
}
.notify-icon {background: url(/media/img/notify.png) no-repeat scroll 0 0 transparent;}
.notify-done-icon {background: url(/media/img/notify-done.png) no-repeat scroll 0 0 transparent;}

.tdcenter {
    text-align: center !important;
}
table.legend tr, table.legend{
    width: 100%;
    text-align: center !important;
	border-top:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	margin:0.6em auto;
	border-collapse:collapse;
    }
table.legend td, table.legend th{
	border-bottom:1px solid #B5b5b5;
	border-left:1px solid #B5b5b5;
    text-align: center !important;
}
#sidebar td {
	padding-bottom: 5px;
    padding-top: 4px;
	text-align:center;
}

#sidebar.calendar {
	padding-top: 5px;
}
#sidebar.calendar h2 {
	border-bottom: 1px solid #ddd;
	font-weight: normal;
	margin-bottom: 6px;
	font-family: "Open Sans", serif;
	font-size: 120%;
	margin-top: 12px;
}
div.sitemap{ 
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    height: auto;
}
div.sitemap a {
    font-weight: bold;
    border-bottom: 1px solid #dadada;
}
div.sitemap ul li a {
    font-weight: normal;
    font-size: 90%;
    border: none;
}
div.sitemap ul li{
    list-style: none;
}
div.sitemap ul li ul li{
    list-style-image: url(/media/img/bullet-sub.png);
    border: none;
}

#bodyContent #guide img {
    max-width: 692px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 15px;
}
#guide p {
    margin-bottom: 15px;
}
ul.hr-list{
    list-style: none !important;
    margin-left: 0px;
    margin-bottom: 0px;
}
ul.hr-list li{
    padding-bottom: 6px;
}
ul.hr-list li p {
    clear: none !important;
}
ul.hr-list li+li{
  	border-top: 1px solid #ebebeb;
}
ul.hr-list h3{
    border-bottom: none !important;
}
div.news-entry {
    line-height: 1.2em;
}
div.news-entry ul.hr-list {
    padding-left: 16px;
    list-style-image: url(/media/img/bullet-right.png) !important;
}
div.news-entry ul.hr-list li+li{
    border-top: none;
}
td ul{
    padding-left: 10px;
}
.img_left {
    float: left;
    clear: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: 0;
}
.img_right {
    display: block;
    float: right;
    clear: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    border: 0;
}
.img_block {
    display: block;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.img_left_nospacetop {
    float: left;
    padding-top: 0px;
    border: 0;
}
.img_right_nospacetop {
    float: right;
    padding-top: 0px;
    border: 0;
}
a.trigger {
	font-size: 12px !important;
    color: #185572;
    display: block;
	}
ul.toggle_container {
	list-style: none !important;
	}
a.trigger li, a.trigger li a {
	font-size: 11px !important;
	}
.trigger span{
background: url(/media/img/plus1.png) no-repeat;
}
.trigger.active span {
background: url(/media/img/minus1.png) no-repeat;
}
.desc {
    color: #003D52;
    font-weight: bold;
}
.subdesc {
    color: #777;
    display: block;
    width: 290px;
    float: left;
}
input.medium {
    width: 60%;
}
input.full, textarea.full {
    width: 559px;
}
input.half {
	margin-left: 0px !important;
	margin-right: 8px !important;
    width: 272px;
    text-align: left;
}
input.sm-half {
	text-align: left;
	margin-left: 0px !important;
	margin-right: 8px !important;
    width: 277px;
    text-align: left;
}
input.reg-half {
	width: 320px !important;
}
select.sm-title {
	margin-left: 0px !important;
	margin-right: 8px !important;
    width: 8%;
    text-align: left;
}
span.req {
    color: red;
}
div.aca ul li ul {
    list-style-image: url("/media/img/stock_right4.png") !important;
}
div.aca table ul {
    list-style-image: url("/media/img/stock_right4.png") !important;
}
.clear {
	clear: both !important;
}
b.title-style{
	color:#21759B;
}
div.bio p {
    color: #222;
    font-size: 105%;
    font-family: "gentium", serif;
    line-height: 120%;
    text-align: justify;
	hyphens: auto;
	margin-bottom: 15px !important;
	text-shadow: #fff 0px 1px 0px, #999 0px 0px 1px;
}
div.bio h3 {
    text-align: center;
    font-style: italic;
    padding-bottom: 20px !important;
    color: #5c5c5c;
}
div.bio { 
    margin-top: 20px;
    padding: 2em;
    background-color: #F0ECF3;
    color: #5c5c5c;
    width: 85%;
    margin-bottom: 1em;
}
div.bio img {
  border: 4px solid #D8CDE0;
  padding: 25px;
  height: auto;
  width: 75%;
}
.FirstLetter{
  display      : block;
  font-family: "gentium", serif;
  float        : left;
  margin-top   : -0.63em; /* use -0.205em for two lines */
  margin-right : 0.5em;
  height       : 4.7em;
}

.FirstLetter span{
  font-size    : 6.5em;   /* use 3.33em for two lines */
  line-height  : 1.0em;
}
.FirstLetter + span{
  margin-left  : -0.5em;
}

.placeholder {
	float: left;
	height: 300px;
	width: 440px;
	margin: 0 10px;
}
.half {
	float: left;
	height: 16px;
	padding-bottom: 10px;
	text-align: center;
	width: 48%;
	margin: 0 8px;
}
.label-half {
	float: left;
	margin-left: 5px !important;
    text-align: left;
	width: 295px;
}
.label-sm {
	float: left;
	margin-right: 8px !important;
	margin-left: 0px !important;
    text-align: left;
    width: 8%;
}
span.alert {
    background: url("/media/img/new-icon.png") center left no-repeat;
    min-width: 28px;
    min-height: 23px;
    float: right;
    padding: 0 125px 8px;
}
.comment label {
	display: block;
}
.comment input[type=text] {
	width: 47%
}
.comment input[type=submit] {
	margin-top: 5px;
}
.comment textarea {
	width: 47.5%
}

.application textarea {
	display: block;
}
.application ul {
	list-style: none !important;
	margin-top: -15px !important;
}
.pull-left {
	float: left;
}