{% extends "wagtail-root.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="row ">
        <div class="col-md-7 col-lg-8 px-5 py-3">

            <h2>{{ page.name }}</h2>

            <div class="status-bar">
                <h4><span class="badge badge-{{ page.status_color }}">{{ page.get_status_color_display }}</span></h4>
            </div>
            <div class="intro">{{ page.description|richtext }}</div>

            {% if page.schematic %}
                <h4>Schematic</h4>
                {% image page.schematic original as schematic %}
                <img class="w-100" src="{{ schematic.url }}" title="{{ schematic.alt }}" />
            {% endif %}
            {% if page.body %}
                {% with blocks=page.body %}
                    {% for block in blocks %}
                        {% if block.block_type == 'heading' %}
                            <h2>{{ block.value }}</h2>
                        {% elif block.block_type == 'paragraph' %}
                           <section class="block-{{ block.block_type }}">
                               {{ block }}
                           </section>
                        {% elif block.block_type == 'table' %}
                            {{ block }}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% endif %}


        </div>
        <div class="col-md-5 col-lg-4 p-5 dark-sidebar">
              {% if page.gallery %}
                  {% for block in page.gallery %}
                      <div class="polaroid">
                      <div class="polaroid-wrapper">
                        <div id="gallery" class="carousel slide" data-ride="carousel">

                          <!-- The slideshow -->
                          <div class="carousel-inner">
                              {% for val in block.value %}
                                {% image val.image original as photo %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}"
                                    title="{{ val.caption }}">
                                    <!--img alt="{{ photo.alt }}" src="{{ photo.url }}"-->
                                    <div class="fill" style="background-image: url('{{ photo.url }}');"></div>
                                    <div class="carousel-caption">{{ val.caption }}</div>
                                </div>
                              {% endfor %}
                          </div>
                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#gallery" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </a>
                          <a class="carousel-control-next" href="#gallery" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </a>
                        </div>
                      </div>
                      </div>
                  {% endfor %}
              {% endif %}

              {{ page.sidebar|richtext }}

        </div>
    </div>
{% endblock %}