{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load get_version %}
{% load static %}
{% load recaptcha2 %}

<!DOCTYPE html>

<html dir="ltr" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <title>PSFaM Meeting</title>
    <meta name="description" content="The Protein Structure, Function and Malfunction meeting is held annually in Saskatoon, SK." >
    <meta name="keywords" content="Western, Canadian, Structural, Biology, WCSB, CMCF, CLS, PSFaM, Protein, Structure, Function, Malfunction" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link type="text/css" href="{% static 'css/bk/psfam-style.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Average|Open+Sans:400,600|Open+Sans+Condensed:300|Oswald|Raleway|Archivo+Narrow" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/bk/fonts.css' %}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static 'css/bk/wp-style.css' %}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static 'css/bk/wp-style-print.css' %}" rel="stylesheet" media="print">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bk/themify-icons.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/bk/jquery.scroll.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <script type="text/javascript">
        $(function() {
            $("#toTop").scrollToTop();
        });
    </script>

    <script type="Text/Javascript">
        function addBookmark(title,url) {
            if (window.sidebar) {
                window.sidebar.addPanel(title, url,"");
            } else if( document.all ) {
                window.external.AddFavorite( url, title);
            } else if( window.opera && window.print ) {
                return true;
            }
        } 
        function contact_staff(domain, email) {
            document.location = "mailto:" + email + '@' + domain ;
        } 
    </script>

    {% recaptcha_init 'en' %}
	<!-- Put the following javascript before the closing </head> tag. -->
	<script>
	  (function() {
	    var cx = '010878230005256235308:khvtu893wew';
	    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
	  })();
	</script>

    {% block extra-header %}{% endblock %}
    
    <!--[if lt IE 8]>
    <link type="text/css" href="{% static 'css/bk/ie.css' %}" rel="stylesheet">
    <![endif]-->

    <link rel="alternate" type="application/atom+xml"  href="/feeds/latest/" title="{{ 'SITE_NAME_LONG'|get_from_settings }}">
    <link REL="SHORTCUT ICON" HREF="{% static 'bk/img/clslogo.ico' %}">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20007382-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>

<body class="wcsb">


{% block "page-content" %}

<div id="main-wrapper">

<div id="header">
    <div class="wrapper">

    <div class="navbar navbar-static-top" id="top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bl-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="site-name"><a href="/psfam" title="PSFaM Home Page">
                    <span class="hidden-xs">Protein Structure, Function and Malfunction</span>
                    <span class="visible-xs">PSFaM</span>
                </a></div>
            <nav class="collapse navbar-collapse" id="bl-navbar">
                <ul class="nav navbar-nav">
                    {% feincms_render_region feincms_page "tabs" request %}
                </ul>

            </nav>
        </div>
    </div>
    </div>

    </div>


</div>

<div id="headline">
	<div class="wrapper">
		<h2>{{ feincms_page.title }}</h2>
	</div>
</div>

<div id="pagebody">
	<div class="wrapper">
        <div id="bodyContent" class="col-xs-12">
        {% feincms_render_region feincms_page "main" request %}
        </div>
	</div>
</div>
{% endblock %}

<div class="push"></div>

<div><a id="toTop" title="Scroll To Top">&nbsp;</a></div>
</body>
</html>

