
/*************************************************************************/

.flip-container {
	transform: perspective(1000px);
    transform-style: preserve-3d;
}
.flip-container.flip .back {
    transform: rotateY(0deg);
}
.flip-container.flip .front {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    min-height: 500px;
}
.flipper {
    position: relative;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition: all 0.4s ease 0s;
}
.front, .back {
	width: 100% !important;
	margin: 0 !important;
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
    clear: both;
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(-180deg);
}
