#login-page-bg {
	background-image: url('/static/img/full-bg-2.jpg');
	background-position: center; 
	background-repeat: no-repeat;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 20;
}
#login-page-bg .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.form-control {
    box-shadow: none;
}
.input-lg {
    border-radius: 2px;
    font-size: 16px;
    height: 46px;
    line-height: 1.33;
    padding: 10px 16px;
}

@media (max-aspect-ratio: 3/2) {
	#login-page-bg{
		background-size: auto 100%;	
	}	
}
@media (min-aspect-ratio: 3/2) {
	#login-page-bg{
		background-size: 100% auto;	
	}	
}

.login-page .login-container {
    display: table;
    margin: 80px auto;
    table-layout: fixed;
    width: 650px;
    border-radius: 2px;
    position: relative;
    z-index: 999;
}

.login-page .login-info {
    background: none repeat scroll 0 0 rgba(133, 113, 152, 0.85);
	display: table-cell;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    width: 40%;
    overflow: hidden;
	text-align: center;
}

.login-page .form-page {
    display: table-cell;
    vertical-align: top;
    width: 60%;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 15px;
    position: relative;
}
.login-page .form-page .form-page {
	padding: 0px;
}
@media (max-width: 768px){

	.login-page .login-container {
	    display: block;
	    margin: auto auto;
	    padding: 20px;
	    position: relative;
	    width: 100%;
	}
	.login-page .login-instructions {
		display: none;
	}
	.login-page .logo img {
		height: 50px;
		width: auto;
	}
	.login-page .login-info {
		display: block;
		width: 100%;
		text-align: center;
	}
	.login-page .form-page {
		display: block;
		width: 100%;
	}	
}

.login-page .left-inner-addon {
    position: relative;
}
.login-page .left-inner-addon .login-form-icon {
	border-right: 1px solid #ddd;
    color: #ddd;
    display: block;
    position: absolute;
    top: 9px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 40px;
    z-index: 1002;
    pointer-events: none;
}

.left-inner-addon input {
    padding-left: 50px;    
}

.login-page .login-text:before {
    background: none repeat scroll 0 0 #E4E4E4;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.login-page .login-text span {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.login-page .login-error {
    color: red;
    text-align: center;
    position: relative;
	margin-bottom: 1em;
}
.login-page .login-text {
    color: #777777;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}
.login-page .login-info .slogan {
	font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.login-page .login-instructions {
	border-top: solid 1px #857198;
	text-align: left;
	font-size: 12px;
	color: #fff;
}
.login-page .login-info ul {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;
}
.login-page .login-info ul li {
    list-style: none outside none;
    margin: 0;
    padding: 7px 0;
}

.login-page .login-info .logo {
    color: #FFFFFF;
    opacity: 1;
}

.login-page .form-actions .login-btn {
    padding-left: 40px;
    padding-right: 40px;
    border: medium none;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    outline: 0 none !important;
    padding: 10px 0;
    text-align: center;
}

.login-page .register-actions {
    border-top: 1px solid #ddd;
    margin: -15px;
    margin-top: 1em;
    padding: 1.5em;
    background: none repeat scroll 0 0 #F4F4F4;
}

.bg-primary {
    background-color: #857198;
    color: #FFFFFF;
    border-color: #857198;
}
.bg-primary:hover, .bg-primary:focus {
	color: #333;
	background-color: #857198;
	border-color: #857198;
}

#login-form-form, #reset-form-form {
	min-height: 140px;	
}
#login-form {
	min-height: 200px;
}
.ui-autocomplete {
	display: none;
	background-color: #FFF;
	border: 1px solid #ccc;
	line-height: 1.3em;
	list-style: none outside none;
	margin: 0;
	padding: 10px;
	overflow-y: scroll;
	max-height: 16em;
	position: relative;
	box-shadow: 2px 2px 2px 0px #d5d5d5;
	z-index: 1000;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.registration.login-page .login-info {
	width: 25%;
}
.registration.login-page .login-container {
	width: 728px;
	margin: 30px auto 0;
}
.registration form {
	height: 100%;
}
.back-btn {
	float: left;
}
.next-btn {
	float: right;
}
.btn-default {
	background-color: #eee;
	box-shadow: none;
}
@media (max-width: 768px){

	.registration.login-page .login-container {
	    display: block;
	    margin: auto auto;
	    padding: 20px;
	    position: relative;
	    width: 100%;
	}
	.registration.login-page .login-info {
		display: block;
		width: 100%;
		text-align: center;
	}
}
.register-actions {
	font-size: 14px;
}
body.registration {
	padding: 0;
}