select.reselect {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
}
select.reselect:focus {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset !important;
}
select.reselect:active {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075) inset !important;
    padding-left: 11px;
}
div.reselect {
	position:relative;
	margin-bottom: 0;
	width: 100%;
}
div.reselect:after {
    content:'\f0d7';
    font-family: FontAwesome;
    right: 0.75em; top:0.45em;
    position:absolute;
    pointer-events:none;
}
div.reselect:before {
    content:' ';
    right:1px; top:8%;
    width:2em; height:90%;
    background: #fff;
    position:absolute;
    pointer-events:none;
    display:block;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
    border-left: 1px solid #e0e0e0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
