.users-list .table td {
    line-height: 1.2em;
}
.users-list .table td {
    vertical-align: middle;
    padding: 4px;
}

.users-list .table div.avatar {
    float: left;
    width: 35px;
    height: 35px;
    background-position: center center -10px;
    background-repeat: no-repeat;
    background-size: 35px auto;
    background-color: #ddd;
}

.users-list .name-body
{
	height:35px;
	line-height: 35px;
	padding-left:10px;
	vertical-align:middle;
    overflow: auto;
}
.users-list .name
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1em;
	vertical-align:middle;
}

.users-list .name a {
    display: block;
}

.subtext
{
    font-size: 90%;
    color: #666;
}

.users-list .media-object {
    margin-right: 0.5em;
}

.users-list .pagination {
    margin-top: 25px;
}

.users-list form {
    margin-top: 6px;
}



