{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{% trans "Posts for" %} {{ category.title }}{% endblock %}
{% block body_class %}{{ block.super }} category_detail{% endblock %}
{% block body_id %}category_{{ category.id }}{% endblock %}


{% block content_title %}
  <h2>{% trans "Posts for" %} {{ category.title }}</h2>
{% endblock %}


{% block content %}
<ul class="hr-list">
    {% for post in object_list %}
        <li>
            <div class="news-post">
                {% ifnotequal post.image 'default' %}
                    <div class="{% cycle 'image' 'image-odd' %}">
                        <img src="/media/uploads/news/photos/{{post.image_filename}}" alt="{{ post.title }} Image">
                    </div>
                {% endifnotequal %}
  	            <div>
   	                <h3 class="subtitle">
                        <a name="{{ post.slug }}"></a>
                        <text class="category" title="View all {{post.categories.all.0}}" href="/research-highlights/categories/{{post.categories.all.0.slug}}">{{ post.categories.all.0 }}</text>: 
                        {% if post.link %}
                            <a href="{{ post.link }}" title="{% trans "Go to Original Publication" %}">{{ post.title }}</a>
                        {% else %}
                            <b class="title-style">{{ post.title }}</b>
                        {% endif %}
                    </h3>
	                Posted on {{ post.publish|date:"F d, Y" }} <br>			
                    {{ post.body|removetags:"p"|safe }}
	                <p class="link">
                        <a href="{{ post.link }}" title="{% trans "Go to Original Publication" %}">
                            {{ post.citation|removetags:"p"|safe }}
                        </a>
                    </p>
                </div>	      
            </div>
            <br class="clear">
        </li>
    {% endfor %}
</ul>
{% endblock %}
