{% load i18n %}
{% load truncate_filters %}

{% block "page-content" %}

<h2><span><a href="/research-highlights/">Latest News &raquo;</a></span></h2>

<div class="news-entry">
<ul class="hr-list">
{% for post in post_list %}
    <li>
<!--        <div class="{% cycle 'image' 'image-odd' %}">
            <a title="View this Post" href="/research-highlights/#{{ post.slug }}">
                <img src="/media/uploads/news/photos/{{post.image_filename}}" alt="{{ post.title }} Image">
            </a>
        </div>-->

            {{ post.categories.all.0 }}:
            <a title="View this Post" href="/research-highlights/#{{ post.slug }}">
	            {{ post.title|truncate_chars:95 }}
	        </a>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}


