{% load i18n %}
{% for category in categories reversed %}
    {% ifequal categories|length 1 %}{% else %}<a href="#{{ category }}"> {{ category }} </a> {% if forloop.last %}{% else %}-{% endif %}{% endifequal %}
    <h2><a name="{{ category }}"></a>{{ category }}</h2>
<ul class="hr-list">
{% for post in object_list %}
    {% ifequal category post.categories.all.0 %}
    <li>
        <div class="news-post">
        <div class="{% cycle 'image' 'image-odd' %}">
            <img src="/media/uploads/news/photos/{{post.image_filename}}" alt=""/>
        </div>
  	    <div>
   	    <h3 class="subtitle"><!--<a href="{{ post.get_absolute_url }}" title="{% trans "View this post" %}">{{ post.title }}</a>--><a name="{{ post.slug }}"></a>{{ post.title }}</h3>
        {{ post.body|removetags:"p"|safe }}
        </div>
	    {% if post.link %}<br/><a href={{object.link}}>Original Publication</a>{% if post.CLSlink %}&nbsp;|{% endif %}{% endif %}
            {% if post.CLSlink %}<a href={{object.CLSlink}}>CLS Science Highlights</a>{% endif %}
        </div>
    </li>
    {% endifequal %}
{% endfor %}
</ul>
{% endfor %}

{% if is_paginated %}
	<p class="pagination">
    	{% if has_next %}
   		<a class="older" href="?page={{ next }}" title="{% trans "View older posts" %}">{% trans "Older" %}</a>
    	{% endif %}
    	{% if has_next and has_previous %} | {% endif %}
    	{% if has_previous %}
    		<a class="newer" href="?page={{ previous }}" title="{% trans "View newer posts" %}">{% trans "Newer" %}</a>
    	{% endif %}
  	</p>
{% endif %}



