{% load i18n %}

<!--
{% ifequal categories|length 1 %}{% else %}
    <a href="#{{ category }}"> {{ category }} </a> 
    {% if forloop.last %}{% else %}-{% endif %}
{% endifequal %}
<h2><a name="{{ category }}"></a>{{ category }}</h2>
-->

<ul class="hr-list">
    {% for post in object_list %}
        <li>
            <div class="news-post">
                {% ifnotequal post.image 'default' %}
                <div class="{% cycle 'image' 'image-odd' %}">
                    <img src="/media/uploads/news/photos/{{post.image_filename}}" alt="{{ post.title }} Image">
                </div>
                {% endifnotequal %}

  	            <div>
   	                <h3 class="subtitle">
                        <a name="{{ post.slug }}"></a>
                        {{ post.categories.all.0 }}: 
                        <a href="{{ post.link }}" title="{% trans "Go to Original Publication" %}">{{ post.title }}</a>
                    </h3>
	                Posted on {{ post.publish|date:"F d, Y" }} <br>			
                    {{ post.body|removetags:"p"|safe }}
	                <p class="link">
                        <a href="{{ post.link }}" title="{% trans "Go to Original Publication" %}">
                            {{ post.citation|removetags:"p"|safe }}
                        </a>
                    </p>
                </div>	      
            </div>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
	<p class="pagination">
    	{% if has_next %}
   		    <a class="older" href="?page={{ next }}" title="{% trans "View older posts" %}">{% trans "Older" %}</a>
    	{% endif %}
    	{% if has_next and has_previous %} | {% endif %}
    	{% if has_previous %}
    		<a class="newer" href="?page={{ previous }}" title="{% trans "View newer posts" %}">{% trans "Newer" %}</a>
    	{% endif %}
  	</p>
{% endif %}



