{% load i18n %}

<ul class="hr-list">
    {% for post in poster_list %}
        <li>
            <div class="news-post">
                {% if post.file %}
                    <div class="{% cycle 'image' 'image-odd' %}">
                        <a href="/media/publications/posters/{{post.get_filename}}.pdf" title="Get the PDF"><img src="/media/publications/posters/{{post.get_imagename}}.png" alt="{{ post.title }} Image" style="max-height: 125px;"></a>
                    </div>
                {% endif %}
                <div>
                    <h7 class="subtitle">
                        <a name="{{ post.slug }}"></a>
                        <b class="title-style">{{ post.title }}</b>
                    </h7>
                    <p>{{ post.author }}<br>{{ post.institution }}</p>
                    {% if post.presented or post.conference %}<p>Presented{% if post.presented %} on {{ post.presented|date:"F d, Y" }}{% endif %}{% if post.conference %} at {{ post.conference }}{% endif %}</p>{% endif %}<br>         
                </div>        
            </div>
            <br class="clear">
        </li>
    {% endfor %}
</ul>