{% extends "admin/base.html" %}
{% load admin_static %}
{% load get_version %}
{% load i18n %}

{% block title %}{{ title }} | {{ 'SITE_NAME_SHORT'|get_from_settings|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'SITE_NAME_SHORT'|get_from_settings|default:_('Django') }} administration</a></h1>
{% endblock %}

{% block messages %}
    {% if available_apps %}<div class="sidebar-space"></div>{% endif %}
{% endblock %}

{% block nav-global %}
    {% if available_apps %}
    <div id="suit-left" class="suit-column">
<div class="left-nav" id="left-nav">
  <ul>
      {% for item in 'SITE_CONFIG'|get_from_settings %}
          {% if item.app %}
              {% for app in available_apps %}{% if app.name|lower == item.app|lower %}
              <li {% ifequal app.name|lower app_label|lower %}class="active"
                  {% else %}{% for model in app.models %}{% ifequal module_name|lower model.name|lower %}class="active"{% endifequal %}{% endfor %}
                  {% endifequal %}>
                <a href="{% if item.url %}{{ item.url }}{% else %}{{ app.app_url }}{% endif %}">
                    <i class="{{ item.icon }}"></i>{% trans item.label|capfirst %}
                </a>
                {% if app.models %}
                  <ul>
                    {% for model in app.models %}{% if not item.models or model.object_name|lower in item.models %}
                      <li {% ifequal module_name|lower model.name|lower %}class="active"{% endifequal %}>
                        <a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                    {% endif %}{% endfor %}
                  </ul>
                {% endif %}
              </li>
              {% endif %}{% endfor %}
          {% else %}
              {% if item.separator %}
                  <li class="separator"></li>
              {% else %}
                  <li><a href="{{ item.url }}" target="_blank"><i class="{% firstof item.icon 'icon-user' %}"></i>{% trans item.label|capfirst %}</a></li>
              {% endif %}
          {% endif %}
        {% endfor %}

  </ul>

</div>

    </div>
    {% endif %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="/static/css/admin-style.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css" media="all">
{% endblock %}









