{% extends "wp-root.html" %}

{% block "page-title" %}
    <h2>Sorry, we couldn't find {{ request_path }}</h2>
{% endblock %}

{% block "page-content" %}

<div id="pagebody">
	<div id="bodyContent" class="wrapper">
        <div class="col-xs-12">
            <p>Things to try:
                <ul>
                    <li>Check that the URL you entered is correct.</li>
                    <li>Visit our <a href="/sitemap/">Sitemap</a> to find the topic you are interested in.</li>
                    <li>Return to our <a href="/">home page</a> and use the navigation menu to find what you need.</li>
                    <li><a href="/contact-us/">Contact us</a> and we'll see if we can point you in the right direction</li>
                    <li>Use this handy dandy search tool to find what you're looking for:</li>
                </ul>
                <div style="max-width: 400px;">
                <gcse:searchbox-only></gcse:searchbox-only></div>
            </p>
        </div>
	</div>
</div>

{% endblock %}