{% extends "wp-root.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block "page-content" %}

<div id="pagebody">
	<div class="wrapper">
        <div id="sidebar" class="col-2">
    {% block col1 %}
    {% for content in feincms_page.content.col1 %}
        {{ content.render }}
    {% endfor %}
    {% endblock %}
        </div>
    
        <div class="col-7">
    {% block col2 %}
    {% for content in feincms_page.content.col2 %}
        {{ content.render }}
    {% endfor %}
    {% endblock %}
	    </div>

        <div class="col-3">
    {% block col3 %}
    {% for content in feincms_page.content.col3 %}
        {{ content.render }}
    {% endfor %}
    {% endblock %}
	    </div>

    </div>
</div>

<br class="clear">

{% endblock %}
