{% extends "wp-root.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block "page-content" %}

<div id="headline">
	<div class="wrapper">
		<h2>{{ feincms_page.title }}</h2>
	</div>
</div>

<div id="pagebody">
	<div id="bodyContent" class="wrapper">
        <div class="col-6">
        {% feincms_render_region feincms_page "col1" request %}        
        </div>
    
        <div class="col-6">
        {% feincms_render_region feincms_page "col2" request %}        
	    </div>
    </div>
</div>

<br class="clear">

{% endblock %}
