{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load get_version %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="ltr" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <title>PSFaM Meeting</title>
    <meta name="description" content="The first Western Canadian Structural Biology meeting will be held in Saskatoon on June 15.  Register now!" >
    <meta name="keywords" content="Western, Canadian, Structural, Biology, WCSB, CMCF, CLS, PSFaM, Protein, Structure, Function, Malfunction" >

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,700|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link type="text/css" href="/static/css/wp-style.css" rel="stylesheet" media="screen">
    <link type="text/css" href="/static/css/wp-style-print.css" rel="stylesheet" media="print">
    <link type="text/css" href="/static/css/wcsb-style.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.scroll.pack.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#toTop").scrollToTop();
        });
    </script>

    <script type="Text/Javascript">
        function addBookmark(title,url) {
            if (window.sidebar) {
                window.sidebar.addPanel(title, url,"");
            } else if( document.all ) {
                window.external.AddFavorite( url, title);
            } else if( window.opera && window.print ) {
                return true;
            }
        } 
        function contact_staff(domain, email) {
            document.location = "mailto:" + email + '@' + domain ;
        } 
    </script>
	<!-- Put the following javascript before the closing </head> tag. -->
	<script>
	  (function() {
	    var cx = '010878230005256235308:khvtu893wew';
	    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
	  })();
	</script>

    {% block extra-header %}{% endblock %}
    
    <!--[if lt IE 8]>
    <link type="text/css" href="/static/css/ie.css" rel="stylesheet">
    <![endif]-->

    <link rel="alternate" type="application/atom+xml"  href="/feeds/latest/" title="{{ 'SITE_NAME_LONG'|get_from_settings }}">
    <link REL="SHORTCUT ICON" HREF="/static/img/clslogo.ico">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20007382-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>

<body class="wcsb">
<div id="main-wrapper">
<div id="header">
    <div class="banner">
        <div class="logo">
        	<div class="wrapper"></div>
        	{% feincms_render_region feincms_page "tabs" request %}
            
    </div>
    </div>
</div>

{% block "page-content" %}
<div id="headline">
	<div class="wrapper">
		<h2>{{ feincms_page.title }}</h2>
	</div>
</div>

<div id="pagebody">
	<div class="wrapper">
        <div id="bodyContent" class="col-12">
        {% feincms_render_region feincms_page "main" request %}
        </div>
	</div>
</div>
{% endblock %}

{% feincms_frontend_editing feincms_page request %}
<div class="push"></div>
</div>

<div><a id="toTop" title="Scroll To Top">&nbsp;</a></div>
</body>
</html>

