<div class="liquid-slider" id="slider-id">
    {% for post in news_list %}
        {% if post.highlight or post.publish %}
            <div class="slider-content">
                {% ifnotequal post.image 'default' %}
                    <div class="col-sm-5 col-xs-6">
                        <div class="slider-image">
                            <a href="/research-highlights/#{{ post.slug }}" title="View this Post">
                                {% if post.image %}<img src="{{ post.image.url }}" alt="" >{% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        <h1 class="title"><a href="/research-highlights/#{{ post.slug }}" title="View this Post">{{ post.title }}</a></h1>
                        <span class="nav"></span>
                        <p><span>{{ post.tease|striptags|safe }}</span></p>
                        {% if post.link %}
                            <p><a href="{{post.link}}">{{ post.citation|striptags|safe }}</a></p>
                        {% endif %}
                    </div>
                {% endifnotequal %}
            </div>
        {% endif %}
        {% if post.photo_highlight %}
            <div class="image">
                <a href="/images" title="Go to Photo Gallery">
                    <img src="{{ post.image.url }}" alt="" />
                </a>
            </div>
            <h1 class="title">{{ post.title }}</h1>
            <p class="date">Added on {{ post.date_added|date:"F d, Y" }}</p>
            <p class="date">{{ post.caption|safe }}</p>
        {% endif %}
    {% endfor %}
</div>