
{% load i18n %}
{% load blog_tags tagging_tags inlines %}

{% block content_title %}
  	<p class="other_posts">
    	{% if object.get_previous_by_publish %}
    		<a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="{% trans "View previous post" %}">&laquo; Previous </a> |
    	{% endif %}
        <a href="/research-highlights">Back to All Posts</a>
    	{% if object.get_next_by_publish %}
    		| <a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="{% trans "View next post" %}">Next &raquo;</a>
    	{% endif %}
  	</p>
{% endblock %}



{% block "page-content" %}
<div id="pagebody">
  <h2 class="subtitle"><a>{{ object.title }}</a></h2>

  <p class="date">{{ object.publish|date:"j F Y" }}</p>

  <div class="body">
    {{ object.body|safe }}
  </div>
{% if object.image %}
    <img class="ctr-img" src="{{object.image.url}}" />
{% endif %}

  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>{% trans "Related tags" %}:</strong>
    {% for tag in tag_list %}
    {{ tag }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}

<p>{% if object.link %}<a href={{object.link}}>Original Publication</a>&nbsp;{% endif %}{% if object.CLSlink %}|&nbsp;<a href={{object.CLSlink}}>CLS Science Highlights</a>{% endif %}</p>
</div>
{% endblock %}
