{% extends "wp-admin.html" %}
{% load get_version %}

{% block extra-header %}

    <link rel="stylesheet" href="/static/css/jquery.fancybox-1.3.4.css" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/fancybox-1.3.4.clsmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/fancybox-1.3.4.clsmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.scroll.pack.js"></script>
    <script type="text/javascript" src="/static/js/imm.js"></script>

    <script type="text/javascript" src="/static/js/jquery.jgrowl_minimized.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.jgrowl.css" />

    <script type="Text/Javascript">
        $(document).ready(function() {
            initModals();
        });
    </script>
    <script type="Text/Javascript">
        $(function() {
            $("#toTop").scrollToTop();
        });
        function addBookmark(title,url) {
            if (window.sidebar) {
                window.sidebar.addPanel(title, url,"");
            } else if( document.all ) {
                window.external.AddFavorite( url, title);
            } else if( window.opera && window.print ) {
                return true;
            }
        };
    </script>
{% endblock %}



{% block "page-content" %}
	<div id="headline">
	    <div class="wrapper">
	        <h2>{{ title }}</h2>
	    </div>
	</div>

	<div id="pagebody">
	    <div id="bodyContent" class="wrapper">
	        <div id="schedule" class="col-sm-12">
                 {% include 'scheduler/schedule_week.html' %}
	        </div>

            <div id="sidebar" class="calendar col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Get Shifts by Proposal</h2>
                        <a target="_blank" href='https://user.lightsource.ca/portal.jsp?Cy3uQUnbK9L2RmSZs02CjVw+NzBMn25xE0d93h/z3QCY6K/hRn0K45w==L'>Print from Proposal System</a>
                        {% include 'scheduler/get_shifts_form.html' %}
                    </div>

                    <div class="col-xs-6">
                        <h2><span>Colour Legend</span></h2>
                        <table class="legend">
                            <tr><td class="NormalMode">User Beamtime</td></tr>
                            <tr><td class="Maintenance">Maintenance</td></tr>
                            <tr><td class="Development">Development/Commissioning</td></tr>
                            <tr><td class="Shutdown">Shutdown</td></tr>
                            <tr><td class="Special">Special Beam Requests</td></tr>
                            <tr><td>TBA</td></tr>
                        </table>
                    </div>
                </div>
            </div>
	    </div>
	</div>
	
	<!--<br class="clear">-->
{% endblock %}
	
