<!DOCTYPE html>
<html>
<head>
  <link href="css/datepicker.css" rel="stylesheet" type="text/css"/>
  
  <!-- Replace these if already using jquery and jquery-ui -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <!-- ** -->
  
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker({
      showWeek: true,
      currentText: "Today",
      dateFormat: "yy-mm-dd", /* Choose appropriate date format for path */
      onSelect: function(dateText,inst){
        /* replace "/calendar/" with appropriate path */
        window.location['pathname'] = '/calendar/' + dateText + '/';
      }
    });
  });
  </script>
</head>
<body>

<!-- include this div in the right position of your page -->
<div type="text" id="datepicker"></div>

</body>
</html>

