{% load i18n simplewiki_utils %}
{% load get_version %}
{% load static %}
{% load tasklist_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ 'SITE_NAME_SHORT'|get_from_settings }} - Staff Manual</title>
	<link href="/static/img/wikilogo.ico" rel="SHORTCUT ICON">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link type="text/css" href="/static/css/wp-style.css" rel="stylesheet">
	<link rel="stylesheet" media="screen,print" href="{{"simplewiki/css/base.css"|prepend_media_url}}" />
	<link rel="stylesheet" media="print" href="{{"simplewiki/css/base_print.css"|prepend_media_url}}" />
	<link rel="stylesheet" href="{{"simplewiki/css/autosuggest_inquisitor.css"|prepend_media_url}}" />
	<link href="{% static 'tasklist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'tasklist/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'tasklist/css/style.css' %}" type="text/css" media="screen" />
	
	<script type="text/javascript" src="{{"simplewiki/js/bsn.AutoSuggest_c_2.0.js"|prepend_media_url}}"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
	<script type="text/javascript" src="/static/js/jquery.scroll.pack.js"></script>

	<script type="text/javascript">
	    $(function() {
	        $("#toTop").scrollToTop();
	    });
	</script>

	<script type="text/javascript" src="/static/js/sidebar.js"></script>
	<script type="text/javascript">
		function set_related_article_id(s) {
			document.getElementById('wiki_related_input_id').value = s.id;
			document.getElementById('wiki_related_input_submit').disabled=false;
		}
		var x = window.onload;
		window.onload = function(){
				var options = {
				script: "{% url 'search_related' wiki_article.get_url %}?self={{wiki_article.pk }}&",
				json: true,
				varname: "query",
				maxresults: 35,
				callback: set_related_article_id,
				noresults: "{% trans "Nothing found!" %}"
			};
			var as = new AutoSuggest('wiki_related_input', options);
			if (typeof x == 'function')
				x();
		}
	</script>
	<script type="text/javascript">
	    $(document).ready(function(){
	
		    //Hide (Collapse) the toggle containers on load
		    $(".toggle_container").hide(); 
	
		    //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
		    $("a.trigger").click(function(){
			    $(this).toggleClass("active").next().slideToggle("fast");
			    return false; //Prevent the browser jump to the link anchor
		    });
			$('#attach-form').on('change','.fileinput',function(e){
				var files = e.originalEvent.target.files;
			    if (files.length > 0) {
			   	    var label = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
			   		$("#attachment-selected").val(label);    		
			    }
			});	
		    
		    var frm = $('#attach-form');
		    frm.submit(function () {
		    	setTimeout(function() {
		               location.reload();
		          },0);
		    });			
			
	    });
	</script>

    <!--[if lt IE 8]>
    <link type="text/css" href="/static/css/ie.css" rel="stylesheet">
    <![endif]-->

	{% block wiki_head %}{% endblock %}
</head>
<body  class="{% block body_class %}{% endblock %}">
  <div class="content main-content">
	  <div class="fixed-banner wiki" id="header">
		<div class="banner-heading pull-left"><a title="Wiki Homepage" href="/wiki/"><i class="fa fa-lightbulb-o"></i> 
			<strong class="hidden-xs">{% site_name %} Wiki:</strong></a>
		</div>
		<div class="pull-left"><h2><strong>{% if wiki_article.locked %}<i class="fa fa-lock fa-fw" title="{% trans 'This article has been locked' %}"></i>{% endif %}
			{% block wiki_page_title %}{% endblock %}</strong></h2>
		</div>
		<div class="pull-right">
            {% if wiki_article %}
	            <div class="btn-group pull-right">
	              <a class="btn" onclick="javascript:location.href='{% url 'wiki_edit' wiki_article.get_url|stripslash %}'" {% if not wiki_write %} disabled="true"{%endif%} title="{% trans "Edit article" %}"><i class="fa fa-pencil fa-2"></i></a>
	              <a class="btn" onclick="javascript:location.href='{% url 'wiki_view' wiki_article.get_url|stripslash %}/'" title="{% trans "View article" %}"><i class="fa fa-eye fa-2"></i></a>
	              <a class="btn" onclick="javascript:location.href='{% url 'wiki_history' wiki_article.get_url|stripslash 1 %}'" title="{% trans "History" %}"><i class="fa fa-history fa-2"></i></a>
				</div>
			{% endif %}		
        </div>
		
	  </div>
      <div class="pad-wrapper">
		<div class="row" style="padding-top: 1em;">
		  <div class="col-sm-9 col-xs-8">
		    <div id="pagebody" class="pagelet col-xs-12">
		    {% block wiki_body %}{% endblock %}
                {% if wiki_article %} 
            		<p class="pull-right"><i>{% trans "Last modified" %}:</i>&nbsp;&nbsp;{{ wiki_article.modified_on|date }}, {{ wiki_article.modified_on|time }}</i></p>
            	{% endif %}
		    </div>
		  </div>
  		  <div class="col-sm-3 col-xs-4">
		    {% block wiki_panel %}
		    <div class="col-xs-12">
		    <div id="wiki_panel" class="row">
	            <!--<form method="POST" action='{% url 'wiki_search_articles' wiki_article.get_url|stripslash %}'>-->
                <form id="search-form" method="POST" action='{% url 'wiki_search_articles' 'mainpage' %}'>
              	  {% csrf_token %}
              	  <div class="input-group">  
                    <input class="form-control" type="text" placeholder="Search" name="value" id="wiki_search_input" value="{{wiki_search_query|escape}}"/>
            	    <span class="input-group-btn"><a class="btn" title="{% trans 'Search' %}" href="javascript:{}" onclick="document.getElementById('search-form').submit();"><i class="fa fa-search fa-2"></i></a></span>
                  </div>
                </form>		
	            {% if wiki_article %}
				<hr/>
		    	<div class="wiki_box_contents">  <!--Attachments-->  
		    		<div class="icon-bg"><i class="fa fa-paperclip"></i></div>
		        	<h5><strong>{% trans "Attachments" %}</strong></h5>
		        	{% if wiki_article.attachments %}
		        		{% for a in wiki_article.attachments %}    
		                    <a href="#" class="trigger"><span>&nbsp; &nbsp; &nbsp;</span>{{a.filename}} - ({% if a.get_size %}{{a.get_size|filesizeformat}}{% else %}Not Found{% endif %})</a>
		                    <ul class="toggle_container"><li>Path: <a href="/media/{{a.file}}">/media/{{a.file}}</a></li></ul>
		                {% endfor %}
		            {% else %}        
		        	    <p><i>({% trans "none" %})</i></p>
		            {% endif %}
		        	
		            {% if wiki_attachments_write %}
		            <form id="attach-form" method="POST" action="{% url 'add_attachment' wiki_article.get_url %}" enctype="multipart/form-data" target="wiki_attach_frame">
		            	{% csrf_token %}
				        
						<div class="input-group">
				            <span class="input-group-btn">
				                <span class="btn btn-white btn-file">
				                    Browse&hellip; <input type="file" class="fileinput" name="attachment">
				                </span>
				            </span>
				            <input id="attachment-selected" name="attachment" type="text" class="form-control" required readonly>
				            <span class="input-group-btn">
				            	<a><button type="submit" class="btn" title="Upload Attachment"><i class="fa fa-upload fa-2"></i></button></a>
				            	<!-- a class="btn" title="{% trans 'Attach' %}" href="javascript:{}" onclick="document.getElementById('attach-form').submit();"><i class="fa fa-upload fa-2"></i></a-->
				            </span>
				        </div>
				        
				        <input type="hidden" name="overwrite" id="wiki_attach_overwrite" value="1" />
		            
	            		<div id="wiki_attach_progress_container">
	            			<div id="wiki_attach_progress"><br /></div>
	            		</div>
	            	</form>
	            	<iframe name="wiki_attach_frame" style="display:none"></iframe>
		            {% endif %}
		       	</div>  <!--Attachments-->  
		       	<hr/>
		       	
		       	
		       	
        	<div class="wiki_box_contents"> <!--Related Articles-->  
        	  <div class="icon-bg"><i class="fa fa-link"></i></div>
            	<h5><strong>{% trans "Related Articles" %}</strong></h5>
                {% if wiki_article.related.all %}
        	        <p>
        		    {% for rel in wiki_article.related.all %}
        		        <span class="related">
        			    {% if wiki_write %}
        				    <a title="{% trans "remove relation" %}" href="{% url "wiki_remove_relation" wiki_article.get_url rel.id %}">
        					    <i class="fa fa-unlink"></i>
        				    </a>        			    
        			    {% endif %}
        			    <a href="{% url 'wiki_view' rel.get_url %}">{{rel.title}}</a>
        		        </span><br/>
        		    {% endfor %}
        	        </p>
                {% else %}
        	        <p><i>({% trans "none" %})</i></p>
                {% endif %}
                {% if wiki_write %}
                    <form method="POST" action="{% url 'add_related' wiki_article.get_url %}" id="related-form">
                    {% csrf_token %}
                      <div class="input-group">  
                    	<input class="form-control" type="text" placeholder="Related article" name="value" id="wiki_related_input"/>
                    	<span class="input-group-btn">
                    	  <a>
                    		<button id="wiki_related_input_submit" disabled="true" value="add" type="submit" class="btn" title="{% trans 'Add related article' %}">
                    		  <i class="fa fa-link fa-2"></i>
                    		</button>
                    	  </a>
                        </span>
                      </div>
                    	<input type="hidden" name="id" value="" id="wiki_related_input_id" />
                    </form>
                {% endif %}
        	</div> <!--/Related Articles--> 
		       	
    			<hr/>
    	{% endif %}
		       	

    
        		<div id="wiki_create_form">
				  <div class="icon-bg"><i class="fa fa-magic"></i></div>    	    
    	          {% with "this.wiki_article_name.value.replace(/([^a-zA-Z0-9\-])/g, '')+'/_create/'" as theaction %}
    		        <form id="create-form" method="GET" onsubmit="this.action='{% url 'wiki_view' "" %}{{ wiki_article.get_url|stripslash }}/' + {{ theaction }};">
    		      {% endwith %}
    			  <h5><strong>{% trans "Create article" %}</strong></h5>
			      <div class="input-group">  
	                <input class="form-control" type="text" placeholder="Title of new article" name="wiki_article_name" id="id_wiki_article_name"/>
	            	<input class="form-control" type="hidden" name="wiki_article_is_child" id="id_wiki_artcile_is_child" disabled="true" checked={%if wiki_article%}"yes"{%else%}"no"{%endif%}>
                    	<span class="input-group-btn">
                    	  <a>
                    		<button value="{% trans 'Next' %}" type="submit" class="btn" title="{% trans 'Create new article' %}">
                    		  <i class="fa fa-plus fa-2"></i>
                    		</button>
                    	  </a>
                        </span>	            	
	            	<!-- a class="btn btn-sm btn-white" onclick="javascript:location.href='{% url 'wiki_random' wiki_article.get_url|stripslash %}'" title="{% trans "Random article" %}"><i class="fa fa-random fa-1"></i></a-->
	              </div>
    		        </form>
    	    </div>


			<hr/>

</div></div>
		    {% endblock %}
		  </div>
		</div>
  	</div>
  </div>

<a id="toTop" class="wiki" title="Scroll To Top">&nbsp;</a>  
 
</body>
</html>

