{% load static %}
{% load humanize %}
{% load tasklist_tags %}
{% load crispy_forms_tags %}
<link href="{% static 'tasklist/css/chosen.css' %}" rel="stylesheet" media="screen" />
<script src="{% static 'tasklist/jquery/chosen.jquery.min.js' %}"></script>
<script src="{% static 'tasklist/jquery/jquery.deserialize.min.js' %}"></script>
<script src="{% static 'tasklist/jquery/jquery.cookie.min.js' %}"></script>
<script src="{% static 'tasklist/jquery/jquery.form.js' %}"></script>

	
<div id="attachment-manager">	
	<table class="table table-hover">
	<thead>
		<tr><th>Attachments</th></tr>
	</thead>
	<tbody>
	{% for att in object_list %}
	<tr>
		<td>{{att.file|file_icon}}&ensp;<a href="{{att.file.url}}">{{att.description}}</a><span class="hidden-xs"> - <small class="text-muted">({{att.file.size|filesizeformat}})</small>
		<br/><small>Added by {{att.user}}, {{att.created|timesince}} ago</small></span></td>
	</tr>
	{% empty %}
	<tr><td class="text-center text-muted" style="padding: 2em;">No attachments</td></tr>
	{% endfor %}
	<tr>
		<td style="padding-top: 2em;">{% crispy form form.helper %}</td>
	</tr>
	</tbody>
	</table>
</div>


<script type="text/javascript">	
function initForm() {
	$("#attachment-manager .chosen").chosen({
		placeholder_text_single: "Select an option",
		search_contains: true,
		allow_single_deselect: true,
	});
	$('#attachment-manager form').submit(function(event){
		console.log(event);
		event.preventDefault();
		$("#attachment-manager form").ajaxSubmit({
			type: 'post',
			success: showResponse,
			data : {'submit': $(this).attr('value')}
		});
	});
}
function showResponse(response, statusText, xhr, $form) {
	var newForm = $(response).find('.table'); // Body of new form 
	if (newForm.length) {
		$("#attachment-manager .table").html(newForm.first().html());  // replace only body
		initForm();
	} else {
		if (response.pk != null) {
			$('#attachment-manager').attr('data-new-object-pk', response.pk);
			$('#attachment-manager').attr('data-new-object-name', response.name);
		}
	}	
}
{% if not form.errors %}
	initForm();
{% endif %}
</script>