<h3 class="no-margin"><strong>New Issue</strong></h3>
<hr/>
<div class="issue-instructions">
<p>When creating a new Issue, please remember to provide the following information:</p>
<ul>
<li>Description the problem or the steps required to reproduce it.</li>
<li>Hardware, location, software versions, if available</li>
<li>Any other information that can help in identifying or resolving the issue,
such as when it occured, error messages, etc.</li>
<li><strong>Do not include any password or confidential information!</strong></li>
</ul>
</div>

