{% extends "tasklist/base.html" %}
{% load static %}
{% load active from navigation %}
{% load tasklist_tags %}
{% block full %}
<div class="row section-title">
	<div class="col-xs-12" style="padding-top: 1em; padding-bottom: 1em;">
		<h5 class="no-margin"><strong>{% site_name %} Issues</strong>&nbsp; </h5>
	</div>
</div>
<div class="row" style="padding-top: 2em; ">
	<div class="hidden-xs col-sm-2 issue-sidebar">
   	{% include "tasklist/issue_stats.html" %}
	</div>
	<div class="col-xs-12 col-sm-10">
		{% include "objlist/object_list.html" %}
	</div>
</div>
{% endblock %}