{% load tasklist_tags %}
{% load timeish %}
<div class="col-xs-12 grid-cell issue-grid">
	<a href="{% url 'issue-detail' issue.pk %}" title="Edit Issue">
		<div class="plan-grid">
			<div class="col-xs-12" style="line-height: 2.5em; border-bottom: 1px dotted #aaa;">
				<strong class="text-muted">{{issue|issue_icon}}&ensp;{{ issue.pk }}</strong>&ensp;|&ensp;
				<strong>{{ issue.title|safe }}</strong>
				<span class="pull-right" title="{{issue.get_status_display}}">
					{{issue.get_latest.created|ago}}&ensp;
	  				<span class="label label-{{issue.get_priority_display}}">Priority: {{issue.get_priority_display}}</span>				
					{{issue|state_icon }}
					{{ issue.due_date|alarm|default:"" }}
				</span>
			</div>
			<div class="col-xs-12" style="padding-top: 0.5em;">				
				<span class="text-muted">{{issue.get_latest.description|safe }}</span>
			</div>
			<div class="spacer"></div>
		</div>
	</a>
</div>
