{% load tasklist_tags %}
{% load timeish %}
<div class="col-xs-12 grid-cell issue-grid">
	<a href="{% url 'issue-detail' issue.pk %}" title="Edit Issue">
		<div class="plan-grid">
			<div class="col-xs-12" style="line-height: 2em; border-bottom: 1px dotted #aaa;">
				<strong class="text-muted">{{issue|issue_icon}}&ensp;{{ issue.pk }}</strong>&ensp;|&ensp;{{ issue.title|safe }}
				<span class="pull-right" title="{{issue.get_status_display}}">{{issue|state_icon }}{{ issue.due_date|alarm|default:"" }}</span>
			</div>
			<div class="col-xs-12" style="padding-top: 0.5em;">				
				<span class="text-muted">{{issue.get_latest.description|safe }}</span>
				&mdash; <em class="text-muted">{{issue.get_latest.created|ago}}:&ensp;</em>
			</div>
			<div class="spacer"></div>
		</div>
	</a>
</div>
