{% extends "tasklist/base.html" %}
{% load static %}
{% block full %}
<div class="row">
	<div class="hidden-xs col-sm-2 text-center">
	<img width="60" height="60" src="{% if project.icon %}{{project.icon.url}}{% else %}{% static 'tasklist/img/project.png' %}{% endif %}">
	<h4 class="no-margin text-center"><strong>{{project.name}}</strong></h4>
	<hr/>
	<p>{{project.description}}</p>
	<hr/>
	<table class="table">
	<tr><td>Active:</td><td>{{project.issues.active.count}}</td></tr>
	<tr><td>Closed:</td><td>{{project.issues.closed.count}}</td></tr>
	<tr><td>Maintenance:</td><td>{{project.issues.maintenance.count}}</td></tr>
	</table>
	</div>
	<div class="col-xs-12 col-sm-10">
		{% include "objlist/object_list.html" %}
	</div>
</div>
{% endblock %}


